<div class="footer l-footer">
  <div class="l-max-width">
    <div class="footer__logo">
      <a>
        <img class="footer__logo-img" src="../images/logo_f.png"/>
      </a>
    </div>
    <div class="footer__menu">
      <ul>
        <li class="footer__menu-item"><a class="footer__menu-link">Euro union</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Euro commission</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Legal portal</a></li>
      </ul>
    </div>
  </div>
</div>