<div class="main-menu__wrap js-main-menu__wrap">
  <div class="container">
    <div class="main-menu__close js-main-menu-close"></div>
    <div class="main-menu">
      <div class="main-menu__item">
        <div class="main-menu__item-link">main page</div>
      </div>
      <div class="main-menu__item">
        <div class="main-menu__item-link">about</div>
      </div>
      <div class="main-menu__item">
        <div class="main-menu__item-link">some data</div>
      </div>
      <div class="main-menu__item">
        <div class="main-menu__item-link">support</div>
      </div>
      <div class="main-menu__item">
        <div class="main-menu__item-link">catalogue</div>
      </div>
    </div>
    <div class="main-menu__theme">
      <div class="main-menu__theme-header">
        themes
      </div>
      <div class="main-menu__theme-items">
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              some theme
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              some theme
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              some theme
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              some theme
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              some theme
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              some theme
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              some theme
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              some theme
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>