<div class="main-menu__wrap js-main-menu__wrap">
  <div class="container">
    <div class="main-menu__close js-main-menu-close"></div>
    <div class="main-menu">
      <div class="main-menu__item">
        <div class="main-menu__item-link">главная портала</div>
      </div>
      <div class="main-menu__item">
        <div class="main-menu__item-link">о портале</div>
      </div>
      <div class="main-menu__item">
        <div class="main-menu__item-link">открытые данные</div>
      </div>
      <div class="main-menu__item">
        <div class="main-menu__item-link">поддержка</div>
      </div>
      <div class="main-menu__item">
        <div class="main-menu__item-link">каталог сервисов</div>
      </div>
    </div>
    <div class="main-menu__theme">
      <div class="main-menu__theme-header">
        Темы
      </div>
      <div class="main-menu__theme-items">
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              Интеллектуальная собственность
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              Техническое регулирование
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              Санитарные меры
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              Таможенно-тарифное и нетарифное регулирование
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              Финансовые рынки
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              Информация о государственных закупках государств – членов Союза
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              Функционирование внутренних рынков
            </div>
          </div>
        </div>
        <div class="main-menu__theme-item">
          <div class="main-menu__theme-link">
            <div class="main-menu__theme-icon">
              <img src="../../images/med_icon-01.png"/>
            </div>
            <div class="main-menu__theme-title">
              Карантинные<br/>
              фитосанитарные меры
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>