<!--
<div class="l-header">
  <div class="l-max-width">
    <div class="header__login">
      <ul>
        <li class="header__login-item">Иванов И.И.</li>
      </ul>
    </div>
    <div class="header__logo">
      <div class="header__logo-image"><img src="images/logo.png"/></div>
      <div class="header__logo-title">Информационный портал Евразийского экономического союза</div>
    </div>
  </div>
</div>-->

<div class="l-header header--portal">
  <div class="container">
    <div class="row row-align-middle">
      <div class="gr-4 header__logo--portal">
        <div class="header__logo-image"><img src="images/logo.svg" class="image" style="width:67px;"></div>
        <div class="header__logo-title">
          Информационный портал <br>
          <span class="header__logo-title--bold">Евразийского экономического союза</span>
        </div>
      </div>
      <div class="gr-6">
        <div class="portal__main-header">
          Функционирование внутренних рынков
        </div>
      </div>
      <div class="gr-2">
        <div class="header__login header__login--portal">
          <div class="header__login-wrap">
            <ul>
              <li class="header__login-item ng-scope">
              <div class="header__login-link header__login-link--na">Войти</div>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-menu__wrap top-menu__wrap--main-page" style="">
    <div class="container top-menu__list horizontal-list">
      <ul>
        <li class="horizontal-list__item top-menu__item top-menu__item--active">
          <span class="link top-menu__link top-menu__link--home">
            <i class="top-menu__link-icon v-home__icon--home"></i>
          </span>
        </li>
        <li class="horizontal-list__item top-menu__item">
          <div class="link top-menu__link">
            О деятельности
          </div>
        </li>
        <li class="horizontal-list__item top-menu__item"><div class="link top-menu__link">
          События
        </div></li>
        <li class="horizontal-list__item top-menu__item"><div class="link top-menu__link">
          Реестры
        </div></li>
        <li class="horizontal-list__item top-menu__item"><div class="link top-menu__link">
          Полезная информация
        </div></li>
        <li class="horizontal-list__item top-menu__item"><div class="link top-menu__link">
          Вопросы и ответы
        </div></li>
      </ul>
    </div>
  </div>
</div>
