<div class="container header__top-wrap">
  <div class="header__top js-header__top">

    <div class="header__top-item header__top-item--menu-button l-side-left">
      <div class="header__menu-button js-menu-trigger"></div>
    </div>

    <div class="header__top-item header__top-item--headline l-side-left">
      <div class="header__headline">
        Style Guide ver.0.0.4 (элементы и стили)
      </div>
    </div>

    <div class="header__top-item header__top-item--login l-side-right">
      <div class="header__login">
        <ul>
          <li class="header__login-item">Константинополь А.В.</li>
        </ul>
      </div>
    </div>

    <div class="header__top-item header__top-item--logo l-side-right">
      <div class="header__logo">
        <div class="header__logo-image"><img style="width:52px;" class="image" src="../../images/logo.svg"/></div>
        <div class="header__logo-title">
          Информационный портал <br/>
          <span class="header__logo-title--bold">Евразийского экономического союза</span>
        </div>
      </div>
    </div>

  </div>
</div>