<div class="l-max-width">
  <h2>Headline</h2>
  <div class="l-content">
    <div class="v-card__header">
      <div class="l-side-left">
        <div class="v-card__header-item">
          <i class="i-calendar"></i>
        </div>
        <div class="v-card__header-item">
          Date:
        </div>
        <div class="v-card__header-item v-card__header-item--date">
          <select class="select">
            <option value="1">04/08/2016</option>
            <option value="2">05/08/2016</option>
            <option value="2">06/08/2016</option>
          </select>
        </div>
        <div class="v-card__header-item">
          <span class="btn btn--status btn--status-orange">Actual</span>
        </div>
      </div>

      <div class="l-side-right">
        <button class="btn btn--blue"><i class="i-download"></i>Save to pdf</button>
      </div>
    </div>
    <div class="v-card v-card--thin-tech substrate substrate--table">
            <div class="v-card__description">
              <h2>headline </h2>
              <ul class="bordered-list">
                <li class="bordered-list__item">
                  <div class="bordered-list__item-title">name</div>
                  <div class="bordered-list__item-content">description of some product</div>
                </li>
                <li class="bordered-list__item">
                  <div class="bordered-list__item-title">address</div>
                  <div class="bordered-list__item-content"><a class="link link--location">Some address</a></div>
                </li>
                <li class="bordered-list__item">
                  <div class="bordered-list__item-title">some example</div>
                  <div class="bordered-list__item-content">
                    <ul class="horizontal-list">
                      <li class="horizontal-list__item"><span class="i-country i-country--ru"></span>name</li>
                      <li class="horizontal-list__item"><span class="i-country i-country--am"></span>name</li>
                      <li class="horizontal-list__item"><span class="i-country i-country--by"></span>name</li>
                    </ul>
                  </div>
                </li>
                <li class="bordered-list__item">
                  <div class="bordered-list__item-title">some example</div>
                  <div class="bordered-list__item-content">
                    <ul class="horizontal-list">
                      <li class="horizontal-list__item"><span class="i-country i-country--kz"></span>name</li>
                      <li class="horizontal-list__item"><span class="i-country i-country--kg"></span>name</li>
                      <li class="horizontal-list__item"><span class="i-country i-country--eec"></span>name</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="v-card__tech">
              <div class="v-card__tech-code">some code<span class="i-country i-country--rus l-side-right"></span>
              </div>
              <div class="v-card__tech-desc">headline</div>
              <div class="v-card__tech-status g-margin-bottom">
                <span class="btn btn--status btn--status-green v-card__tech-status-item">In progress</span>
              </div>
            </div>

            <div class="v-card__clear"></div>
          </div>
    <div class="v-card substrate substrate--table">
      <div class="v-card__description">
        <h2>Headline </h2>
        <ul class="bordered-list">
          <li class="bordered-list__item">
            <div class="bordered-list__item-title">Name</div>
            <div class="bordered-list__item-content">Description of smth</div>
          </li>
          <li class="bordered-list__item">
            <div class="bordered-list__item-title">Address</div>
            <div class="bordered-list__item-content"><a class="link link--location">some address</a></div>
          </li>
          <li class="bordered-list__item">
            <div class="bordered-list__item-title">Example</div>
            <div class="bordered-list__item-content">
              <ul class="horizontal-list">
                <li class="horizontal-list__item"><span class="i-country i-country--ru"></span>name</li>
                <li class="horizontal-list__item"><span class="i-country i-country--am"></span>name</li>
                <li class="horizontal-list__item"><span class="i-country i-country--by"></span>name</li>
              </ul>
            </div>
          </li>
          <li class="bordered-list__item">
            <div class="bordered-list__item-title">Example</div>
            <div class="bordered-list__item-content">
              <ul class="horizontal-list">
                <li class="horizontal-list__item"><span class="i-country i-country--kz"></span>name</li>
                <li class="horizontal-list__item"><span class="i-country i-country--kg"></span>name</li>
                <li class="horizontal-list__item"><span class="i-country i-country--eec"></span>name</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="v-card__tech">
        <div class="v-card__tech-code">some code<span class="i-country i-country--rus l-side-right"></span>
        </div>
        <div class="v-card__tech-desc">example</div>
        <div class="v-card__tech-status g-margin-bottom">
          <span class="btn btn--status btn--status-green v-card__tech-status-item">some example</span>
          <span class="btn btn--multiline btn--status btn--status-gray v-card__tech-status-item">Description example of smth</span>
        </div>
        <div class="v-card__tech-date l-sides">
          <div class="v-card__tech-date-item v-card__tech-date-item--title l-side-left">
            Date
          </div>
          <div class="v-card__tech-date-item v-card__tech-date-item--content l-side-right">
            12.11.2014
          </div>
        </div>
      </div>

      <div class="v-card__clear"></div>
    </div>
    <div class="v-card v-card--wide-tech substrate substrate--table">
      <div class="v-card__description">
        <h2>Headline </h2>
        <ul class="bordered-list">
          <li class="bordered-list__item">
            <div class="bordered-list__item-title">Name</div>
            <div class="bordered-list__item-content">Description of smth</div>
          </li>
          <li class="bordered-list__item">
            <div class="bordered-list__item-title">Address</div>
            <div class="bordered-list__item-content"><a class="link link--location">some address</a></div>
          </li>
          <li class="bordered-list__item">
            <div class="bordered-list__item-title">Example</div>
            <div class="bordered-list__item-content">
              <ul class="horizontal-list">
                <li class="horizontal-list__item"><span class="i-country i-country--ru"></span>name</li>
                <li class="horizontal-list__item"><span class="i-country i-country--am"></span>name</li>
                <li class="horizontal-list__item"><span class="i-country i-country--by"></span>name</li>
              </ul>
            </div>
          </li>
          <li class="bordered-list__item">
            <div class="bordered-list__item-title">Example</div>
            <div class="bordered-list__item-content">
              <ul class="horizontal-list">
                <li class="horizontal-list__item"><span class="i-country i-country--kz"></span>name</li>
                <li class="horizontal-list__item"><span class="i-country i-country--kg"></span>name</li>
                <li class="horizontal-list__item"><span class="i-country i-country--eec"></span>name</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="v-card__tech">
        <div class="v-card__tech-code">some code<span class="i-country i-country--rus l-side-right"></span>
        </div>
        <div class="v-card__tech-desc">example</div>
        <div class="v-card__tech-status g-margin-bottom">
          <span class="btn btn--multiline btn--status btn--status-green v-card__tech-status-item">some example</span>
          <span class="btn btn--status btn--status-gray v-card__tech-status-item">Description example of smth</span>
        </div>
        <div class="v-card__tech-date l-sides">
          <div class="v-card__tech-date-item v-card__tech-date-item--title l-side-left">
            Date
          </div>
          <div class="v-card__tech-date-item v-card__tech-date-item--content l-side-right">
            from 12.11.2014 to 01.01.2015
          </div>
        </div>
      </div>

      <div class="v-card__clear"></div>
    </div>
  </div>

  <div class="l-content">
          <div class="v-card__data-block substrate">
            <h2>Headline</h2>
            <div class="zebra-list zebra-list--card">
              <ul>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Description example of smth</div>
                  <div class="l-left zebra-list__content">874</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Description example of smth</div>
                  <div class="l-left zebra-list__content">rt9y8h4vty98h</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Description example of smth</div>
                  <div class="l-left zebra-list__content">Description example of smth</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Date</div>
                  <div class="l-left zebra-list__content">13.11.2012</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Date example of smth </div>
                  <div class="l-left zebra-list__content">13.11.2017</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Headline example of smth</div>
                  <div class="l-left zebra-list__content">Description example of smth</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="substrate substrate--table v-card__data-block">
            <h2 class="h2-padd">Headline</h2>
            <div class="table__wrap">
              <table class="table table--col-3">
                <tr class="table__row">
                  <td class="table__cell table__cell--headline">Description of smth </td>
                  <td class="table__cell table__cell--headline table__cell--wide">Description of smth </td>
                  <td class="table__cell table__cell--headline table__cell--thin">Date of smth </td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell">
                    Description of smth  <br/>
                    of smh else
                  </td>
                  <td class="table__cell table__cell--wide">
                    Description of smth  <br/>
                    of smh else
                  </td>
                  <td class="table__cell table__cell--thin">
                    01.12.2012
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <hr style="margin: 10px 0;"/>

        <h2>Headline</h2>
        <div class="l-content">
          <div class="v-card__header">
            <div class="l-side-left">
              <div class="v-card__header-item">
                <i class="i-calendar"></i>
              </div>
              <div class="v-card__header-item">
                Date:
              </div>
              <div class="v-card__header-item v-card__header-item--date">
                <select class="select">
                  <option value="1">04/08/2016</option>
                  <option value="2">05/08/2016</option>
                  <option value="2">06/08/2016</option>
                </select>
              </div>
              <div class="v-card__header-item">
                <span class="btn btn--status btn--status-orange">Actual</span>
              </div>
            </div>

            <div class="l-side-right">
              <button class="btn btn--blue"><i class="i-download"></i>Save in pdf</button>
            </div>
          </div>
          <div class="v-card substrate substrate--table">
            <div class="v-card__description">
              <h2>Headline </h2>
              <ul class="bordered-list">
                <li class="bordered-list__item">
                  <div class="bordered-list__item-title">Name</div>
                  <div class="bordered-list__item-content">Description of smth</div>
                </li>
                <li class="bordered-list__item">
                  <div class="bordered-list__item-title">Address</div>
                  <div class="bordered-list__item-content"><a class="link link--location">some address</a></div>
                </li>
                <li class="bordered-list__item">
                  <div class="bordered-list__item-title">Example</div>
                  <div class="bordered-list__item-content">
                    <ul class="horizontal-list">
                      <li class="horizontal-list__item"><span class="i-country i-country--ru"></span>name</li>
                      <li class="horizontal-list__item"><span class="i-country i-country--am"></span>name</li>
                      <li class="horizontal-list__item"><span class="i-country i-country--by"></span>name</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="v-card__tech">
              <div class="v-card__tech-code">some code <span class="i-country i-country--rus l-side-right"></span>
              </div>
              <div class="v-card__tech-desc">example</div>
              <div class="v-card__tech-status">
                <span class="btn btn--status btn--status-green v-card__tech-status-item">some example</span>
                <span class="btn btn--status btn--status-gray v-card__tech-status-item">some example <br/>some example</span>
              </div>
            </div>
          </div>
        </div>
        <div class="l-content">
          <div class="left-menu l-side-left">
            <div class="left-menu__block substrate substrate--gray">
              <div class="left-menu__list">
                <ul>
                  <li class="left-menu__list-item">
                    <a class="left-menu__list-link">some example <br/>some example</a>
                  </li>
                  <li class="left-menu__list-item active">
                    <a class="left-menu__list-link">some example <br/>some example</a>
                  </li>
                  <li class="left-menu__list-item">
                    <a class="left-menu__list-link">some example<br/>some example</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="left-menu__block">
              <div class="left-menu__title left-menu__title--tree">Go to ...</div>
              <div class="left-menu__tree">
                <ul>
                  <li class="left-menu__tree-item">
                    <a class="link left-menu__tree-link">some example</a>
                  </li>
                  <li class="left-menu__tree-item active">
                    <a class="link left-menu__tree-link">some example</a>
                  </li>
                  <li class="left-menu__tree-item">
                    <a class="link left-menu__tree-link">some example</a>
                  </li>
                  <li class="left-menu__tree-item">
                    <a class="link left-menu__tree-link">some example</a>
                  </li>
                  <li class="left-menu__tree-item">
                    <a class="link left-menu__tree-link">some example</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="center-block--left-side">
            <div class="substrate v-card__data-block">
              <h2>Headline</h2>
              <div class="zebra-list zebra-list--card">
                <ul>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content"><a class="link">Download</a></div>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <div class="l-content">
          <div class="substrate substrate--gray">
            <div class="tabs__wrap">
              <div class="tabs__item">
                <div class="tabs__item-link">Some example</div>
              </div>
              <div class="tabs__item active">
                <div class="tabs__item-link">Some example</div>
              </div>
              <div class="tabs__item">
                <div class="tabs__item-link">Some example</div>
              </div>
              <div class="tabs__item">
                <div class="tabs__item-link">Some example</div>
              </div>
              <div class="tabs__item">
                <div class="tabs__item-link">Some example</div>
              </div>
              <div class="tabs__item">
                <div class="tabs__item-link">Some example</div>
              </div>
            </div>
          </div>
          <div class="center-block">
            <div class="substrate v-card__data-block">
              <h2>Headline</h2>
              <div class="zebra-list zebra-list--card">
                <ul>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name </div>
                    <div class="l-left zebra-list__content">some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content"><a class="link">download</a></div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="substrate substrate--table v-card__data-block">
              <h2 class="h2-padd">Headline</h2>
              <div class="table__wrap">
                <table class="table">
                  <tr class="table__row">
                    <td class="table__cell table__cell--headline">some headline</td>
                    <td class="table__cell table__cell--headline table__cell--wide">some headline</td>
                    <td class="table__cell table__cell--headline">some headline</td>
                    <td class="table__cell table__cell--headline table__cell--thin">some headline</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell">some example</td>
                    <td class="table__cell table__cell--wide">some descriotion of somth which must be in several strings</td>
                    <td class="table__cell">some example
                      <a class="link">Download</a>
                    </td>
                    <td class="table__cell table__cell--thin">some example</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell">some example</td>
                    <td class="table__cell table__cell--wide">some descriotion of somth which must be in several strings</td>
                    <td class="table__cell">some example
                      <a class="link">Download</a>
                    </td>
                    <td class="table__cell table__cell--thin">some example</td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="substrate v-card__data-block">
              <h2>Headline</h2>
              <div class="zebra-list">
                <ul>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content">Some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content">Some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content">Some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content">Some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content">Some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content">Some example</div>
                  </li>
                  <li class="zebra-list__item">
                    <div class="l-left zebra-list__title">name</div>
                    <div class="l-left zebra-list__content">
                      <p>Some example</p>
                      <p><a class="link link--location">Some link</a></p>
                      <p>Some example</p>
                      <p><a class="link link--location">Some link</a></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <hr style="margin: 10px 0;"/>

        <h2>Headline</h2>

        <div class="v-card v-card__blank l-content">
          <div class="substrate substrate--no-border">
            <div class="v-card__blank-header l-content">
              <div class="l-side-right">
                <span class="btn btn--blue btn-edit v-card__blank-header-item">Edit</span>
                <span class="btn btn--blue v-card__blank-header-item"><i class="i-download"></i>Save in pdf</span>
              </div>
            </div>
            <div class="zebra-list">
              <ul>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content"><a class="link">some link</a></div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Name</div>
                  <div class="l-left zebra-list__content">some decription</div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <hr style="margin: 10px 0;"/>

        <h2>Headline</h2>

        <div class="l-content">

          <div class="v-card__graph">
            <div class="center-block">
              <div class="v-card__data-block substrate g-margin-bottom">
                <div class="v-card__graph-drop-list v-card__drop-list-wrap l-side-left g-margin-right js-drop-list-wrap">
                  <ul>
                    <li class="v-card__drop-list-item v-card__drop-list-item--current js-drop_list_trigger">
                      <div class="v-card__drop-list-link v-card__drop-list-link--current ">All smth (2)</div>
                      <ul class="v-card__drop-list-submenu js-drop_list">
                        <li class="v-card__drop-list-item">
                          <div class="v-card__drop-list-link">option 1</div>
                        </li>
                        <li class="v-card__drop-list-item">
                          <div class="v-card__drop-list-link">option 2</div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <h2>Headline of some description</h2>
                <div class="v-card__graph-filter">
                  <div class="filter-item g-block-mid">
                    <label class="label">name</label>
                    <select class="select">
                      <option>option</option>
                      <option>option</option>
                      <option>option</option>
                    </select>
                  </div>
                </div>
                <div class="v-card__graph-scheme">
                  <img src="../../images/scheme-1.png"/>
                </div>
              </div>
            </div>
          </div>

        </div>

        <hr style="margin: 10px 0;"/>

        <h2>Headline</h2>

        <div class="l-content">

          <div class="v-card__graph portal--info-page">

            <div class="left-menu left-menu--wide l-side-left">
              <div class="left_menu__block substrate substrate--gray">
                <div class="left-menu__headline l-sides">
                  <div class="l-side-left">name</div>
                  <div class="l-side-right left-menu__headline-link-all">
                    <a class="link">all</a>
                  </div>
                </div>
                <div class="left-menu__search-wrap g-margin-bottom">
                  <input type="search" class="input input--search" placeholder="keywords of some">
                  <input type="submit" class="input-submit" value="">
                </div>
                <div class="rubric-list__wrap js-perfect-scroll">
                  <div class="rubric-list__item">
                    <div class="rubric-list__link active">
                      <div class="rubric-list__link-trigger"></div>
                      some questions
                    </div>
                  </div>
                  <div class="rubric-list__item active">
                    <div class="rubric-list__link active opened">
                      <div class="rubric-list__link-trigger"></div>
                      some questions
                    </div>
                    <div class="rubric-list__sub-menu">
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link">some example</div>
                      </div>
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link">some example</div>
                      </div>
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link">some example</div>
                      </div>
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link">some example</div>
                      </div>
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link">some example</div>
                      </div>
                    </div>
                  </div>
                  <div class="rubric-list__item">
                    <div class="rubric-list__link">
                      <div class="rubric-list__link-trigger"></div>
                      some questions
                    </div>
                  </div>
                  <div class="rubric-list__item">
                    <div class="rubric-list__link opened">
                      <div class="rubric-list__link-trigger"></div>
                      some questions
                    </div>
                    <div class="rubric-list__sub-menu">
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link">some example</div>
                      </div>
                      <div class="rubric-list__sub-item active">
                        <div class="rubric-list__link">some example</div>
                      </div>
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link active">some example</div>
                      </div>
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link">some example</div>
                      </div>
                      <div class="rubric-list__sub-item">
                        <div class="rubric-list__link">some example</div>
                      </div>
                    </div>
                  </div>
                  <div class="rubric-list__item">
                    <div class="rubric-list__link">
                      <div class="rubric-list__link-trigger"></div>
                      some questions
                    </div>
                  </div>
                  <div class="rubric-list__item">
                    <div class="rubric-list__link">
                      <div class="rubric-list__link-trigger"></div>
                      some questions
                    </div>
                  </div>
                  <div class="rubric-list__item">
                    <div class="rubric-list__link">
                      <div class="rubric-list__link-trigger"></div>
                      some questions
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="center-block--left-side-wide">
              <div class="substrate substrate--table g-margin-bottom">
                <div class="product-list product-list--question-answer">
                    <ul>
                      <li class="product-list__item">
                        <a class="product-list__link">
                          <div class="product-list__trigger-icon i-trigger"></div>
                          <div class="product-list__link-text">What kind of weather ?</div>
                        </a>
                      </li>
                      <li class="product-list__item active">
                        <a class="product-list__link">
                          <div class="product-list__trigger-icon i-trigger"></div>
                          <div class="product-list__link-text">
                            <p>What kind of weather ?</p>
                            <p><img src="../images/rubric-list_example.jpg"/></p>
                          </div>
                        </a>
                        <div class="product-list__content">
                          <div class="product-list__content-text">
                            <p>Some text as a description</p>
                          </div>
                          <div class="product-list__content-links">
                            <div class="product-list__content-links-item">
                              <a class="link">some example <i class="i-external-link"></i></a>
                            </div>
                            <div class="product-list__content-links-item">
                              <a class="link">some example<i class="i-external-link"></i></a>
                            </div>
                          </div>
                          <div class="product-list__content-rubric">
                            <span class="product-list__content-rubric-item"><a href="">some example</a></span>
                            <span class="product-list__content-rubric-item">/</span>
                            <span class="product-list__content-rubric-item">some example</span>
                          </div>
                          <div class="product-list__content-tags">
                            <div class="product-list__content-tag">
                              tag name
                            </div>
                            <div class="product-list__content-tag">
                              <a href="">tag name</a>
                            </div>
                            <div class="product-list__content-tag">
                              tag name
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="product-list__item">
                        <a class="product-list__link">
                          <div class="product-list__trigger-icon i-trigger"></div>
                          <div class="product-list__link-text">What kind of weather ?</div>
                        </a>

                      </li>
                      <li class="product-list__item">
                        <a class="product-list__link">
                          <div class="product-list__trigger-icon i-trigger"></div>
                          <div class="product-list__link-text">What kind of weather ?</div>
                        </a>

                      </li>
                    </ul>
                  </div>
              </div>
              <div class="substrate substrate--dark">
                <div class="filter">
                  <form>
                    <div class="l-side-left">
                      <div class="filter-item ">
                        <a class="link--inactive">to start</a>
                      </div>
                      <div class="filter-item ">
                        <i class="i-arrow i-arrow--left-disabled"></i>
                      </div>
                      <div class="filter-item ">
                        <input placeholder="1" class="input input--number">
                      </div>
                      <div class="filter-item ">
                        из
                      </div>
                      <div class="filter-item ">
                        <a class="link">4</a>
                      </div>
                      <div class="filter-item ">
                        <i class="i-arrow i-arrow--blue-right"></i>
                      </div>
                    </div>
                    <div class="l-side-right">
                      <div class="filter-item ">
                        10 records
                      </div>
                      <div class="filter-item g-block-small">
                        <select class="select">
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>

        </div>

        <hr style="margin: 10px 0;"/>

        <h2>Headline</h2>

        <div class="l-content">
          <div class="product-list">
            <ul>
              <li class="product-list__item">
                <a class="product-list__link">
                  <div class="product-list__trigger-icon i-trigger"></div>
                  <span class="product-list__link-text">some example</span>
                </a>
                <div class="product-list__content">
                  <div class="zebra-list zebra-list--card">
                    <ul>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content"><a class="link">some description</a></div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">some date</div>
                        <div class="l-left zebra-list__content">02.10.2015 2:00</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">some date</div>
                        <div class="l-left zebra-list__content">14.04.2016 17:29 </div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some description</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="product-list__item active">
                <a class="product-list__link active">
                  <div class="product-list__trigger-icon i-trigger"></div>
                  <span class="product-list__link-text">some text</span>
                  <span class="product-list__link-count">(5)</span>
                </a>
                <div class="product-list__content">
                  <div class="zebra-list zebra-list--card">
                    <ul>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content"><a class="link">some link</a></div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some content description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some content description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some content description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some content description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some content description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some content description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some content description</div>
                      </li>
                      <li class="zebra-list__item">
                        <div class="l-left zebra-list__title">name</div>
                        <div class="l-left zebra-list__content">some content description</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="product-list__item">
                <a class="product-list__link">
                  <div class="product-list__trigger-icon i-trigger"></div>
                  <span class="product-list__link-text">some example</span>
                  <span class="product-list__link-count">(5)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="l-content">
          <div class="product-list">
            <ul>
              <li class="product-list__item active">
                <a class="product-list__link">
                  <div class="product-list__trigger-icon i-trigger"></div>
                  <span class="product-list__link-text">some example</span>
                  <span class="product-list__link-count">(15)</span>
                </a>

                <div class="substrate substrate--table product-list__content">
                  <div class="filter filter--table">
                    <form>
                      <div class="l-side-left">
                        <div class="filter-item ">
                          <a class="link--inactive">to start</a>
                        </div>
                        <div class="filter-item ">
                          <i class="i-arrow i-arrow--left-disabled"></i>
                        </div>
                        <div class="filter-item ">
                          <input placeholder="1" class="input input--number"/>
                        </div>
                        <div class="filter-item ">
                          из
                        </div>
                        <div class="filter-item ">
                          <a class="link">4</a>
                        </div>
                        <div class="filter-item ">
                          <i class="i-arrow i-arrow--blue-right"></i>
                        </div>
                      </div>
                      <div class="l-side-right">
                        <div class="filter-item g-block-small">
                          <select class="select">
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </div>
                        <div class="filter-item g-block-small">
                          <select class="select">
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </div>
                        <div class="filter-item g-block-small">
                          <select class="select">
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="table__wrap">
                    <table class="table">
                      <tr class="table__row">
                        <td class="table__cell table__cell--headline table__cell--sort">
                          some example
                        </td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                      </tr>
                      <tr class="table__row">
                        <td class="table__cell"><a class="link">some link</a></td>
                        <td class="table__cell">name</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">16.01.2015 - 15.01.2017</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell"><span class="btn btn--status btn--status-red">terminated</span></td>
                      </tr>
                      <tr class="table__row">
                        <td class="table__cell"><a class="link">some link</a></td>
                        <td class="table__cell">name</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">16.01.2015 - 15.01.2017</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell"><span class="btn btn--status btn--status-green">In progress</span></td>
                      </tr>
                      <tr class="table__row">
                        <td class="table__cell"><a class="link">some link</a></td>
                        <td class="table__cell">name</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">16.01.2015 - 15.01.2017</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell"><span class="btn btn--status btn--status-red">Out of service</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </li>
              <li class="product-list__item">
                <a class="product-list__link active">
                  <div class="product-list__trigger-icon i-trigger"></div>
                  <span class="product-list__link-text">some example</span>
                  <span class="product-list__link-count">(15)</span>
                </a>
              </li>
              <li class="product-list__item active">
                <a class="product-list__link">
                  <div class="product-list__trigger-icon i-trigger"></div>
                  <span class="product-list__link-text">some example</span>
                  <span class="product-list__link-count">(5)</span>
                </a>
                <div class="substrate substrate--table product-list__content">
                  <div class="filter filter--table">
                    <form>
                      <div class="l-side-left">
                        <div class="filter-item ">
                          <a class="link--inactive">to start</a>
                        </div>
                        <div class="filter-item ">
                          <i class="i-arrow i-arrow--black-left"></i>
                        </div>
                        <div class="filter-item ">
                          <input placeholder="2" class="input input--number"/>
                        </div>
                        <div class="filter-item ">
                          из
                        </div>
                        <div class="filter-item ">
                          <a class="link">4</a>
                        </div>
                        <div class="filter-item ">
                          <i class="i-arrow i-arrow--black-right"></i>
                        </div>
                      </div>
                      <div class="l-side-right">
                        <div class="filter-item g-block-small">
                          <select class="select">
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </div>
                        <div class="filter-item g-block-small">
                          <select class="select">
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </div>
                        <div class="filter-item g-block-small">
                          <select class="select">
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="table__wrap">
                    <table class="table">
                      <tr class="table__row">
                        <td class="table__cell table__cell--headline table__cell--sort">
                          some example
                        </td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                        <td class="table__cell table__cell--headline table__cell--sort">some headline</td>
                      </tr>
                      <tr class="table__row">
                        <td class="table__cell"><a class="link">some example</a></td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">16.01.2015 - 15.01.2017</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell"><span class="btn btn--status btn--status-red">terminated</span></td>
                      </tr>
                      <tr class="table__row">
                        <td class="table__cell"><a class="link">some example</a></td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">16.01.2015 - 15.01.2017</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell"><span class="btn btn--status btn--status-green">In progress</span></td>
                      </tr>
                      <tr class="table__row">
                        <td class="table__cell"><a class="link">some example</a></td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell">16.01.2015 - 15.01.2017</td>
                        <td class="table__cell">some example</td>
                        <td class="table__cell"><span class="btn btn--status btn--status-red">Out of service</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>



      </div>


