<div class="l-max-width">

  <div class="substrate g-margin-bottom">
    <div class="substrate__headline substrate__headline--gray">What kind of example &</div>
    <form>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Title</div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <select class="select">
              <option>all</option>
              <option>Actual</option>
              <option>Terminated</option>
            </select>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Title</div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <select class="select">
              <option>all</option>
              <option>Actual</option>
              <option>Terminated</option>
            </select>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__headline">Headline</div>
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">
          Title
        </div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <input class="input input-text" type="text"/>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Title</div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <select class="select">
              <option>all</option>
              <option>Actual</option>
              <option>Terminated</option>
            </select>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">
          Smth of smth,<br/>
          else
        </div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <input class="input input-text" type="text"/>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder search-group--last">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Title</div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <input class="input input-text" type="text"/>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="substrate g-margin-bottom">
    <div class="substrate__headline substrate__headline--gray">Headline</div>
    <form>
      <div class="search-group__wrap-little">
        <div class="search-group search-group--centered search-group--noborder">
          <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Title</div>
          <div class="search-group__content">
            <div class="search-group__item g-block-expanse">
              <select class="select">
                <option>all</option>
                <option>Actual</option>
                <option>Terminated</option>
              </select>
            </div>
          </div>
        </div>
        <div class="search-group search-group--centered search-group--last search-group--noborder">
          <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">
            tilte
          </div>
          <div class="search-group__content">
            <div class="search-group__item g-block-expanse">
              <input class="input input-text" type="text"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="substrate g-margin-bottom">
    <div class="substrate__headline substrate__headline--gray">headline</div>
    <div class="search-group">
      <div class="search-group__title search-group__title--search-form g-block-small">Keywords</div>
      <div class="search-group__content ">
        <div class="search-group__item search-group__item--search-form">

          <input type="search" placeholder="Example: for example" class="input input--search-form">
          <input type="submit" value="" class="input-submit">

        </div>
      </div>
    </div>
    <div class="search-group">
      <div class="search-group__title g-block-small">Gruop <br/> title</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Label</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Label</label>
          <select class="select">
            <option>option</option>
            <option>option</option>
          </select>
        </div>
        <div class="search-group__item l-sides search-group__item--date g-block-wide">
          <label class="label">label</label>
          <div class="l-side-left">
            <input type="text" class="input input--date g-block-small datepicker hasDatepicker" placeholder="from" id="dp1471511128177">
          </div>
          <div class="l-side-right">
            <input type="text" class="input input--date g-block-small datepicker hasDatepicker" placeholder="to" id="dp1471511128178">
          </div>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <div class="select-box">
            <select class="select">
              <option>option</option>
              <option>option</option>
            </select>
          </div>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <input class="input" type="text"/>
        </div>
        <div class="search-group__item l-sides search-group__item--date g-block-wide">
          <label class="label">label</label>
          <div class="l-side-left">
            <input type="text" class="input input--date g-block-small datepicker hasDatepicker" placeholder="from" id="dp1471511128">
          </div>
          <div class="l-side-right">
            <input type="text" class="input input--date g-block-small datepicker hasDatepicker" placeholder="to" id="dp1471511128">
          </div>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <input class="input" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">title <br/>double</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input checked id="rb_01" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_01" class="label label--checkbox">label</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_02" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_02" class="label label--checkbox">label</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_03" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_03" class="label label--checkbox">label</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_04" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_04" class="label label--checkbox">label</label>
        </div>
      </div>
    </div>
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">title<br/>double </div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_01"/>
          <label for="sg_01" class="label label--checkbox">label</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_02"/>
          <label for="sg_02" class="label label--checkbox">label </label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_03"/>
          <label for="sg_03" class="label label--checkbox">label</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_04"/>
          <label for="sg_04" class="label label--checkbox">label</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_05"/>
          <label for="sg_05" class="label label--checkbox">label</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_06"/>
          <label for="sg_06" class="label label--checkbox">label</label>
        </div>
      </div>
    </div>
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">title <br/>double</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-wide">
          <input class="checkbox" type="checkbox" id="sg_011"/>
          <label for="sg_011" class="label label--checkbox">label</label>
        </div>
      </div>
    </div>
    <div class="search-group search-group--last">
      <div class="search-group__title g-block-small">Национальные <br/>части реестра</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><img src="../images/country_01.svg"/></div>
          <div class="search-group__item-name">name</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><img src="../images/country_02.svg"/></div>
          <div class="search-group__item-name">name</div>
        </div>
        <div class="search-group__item search-group__item--country active">
          <div class="search-group__item-image"><img src="../images/country_03.svg"/></div>
          <div class="search-group__item-name">name</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><img src="../images/country_04.svg"/></div>
          <div class="search-group__item-name">name</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><img src="../images/country_05.svg"/></div>
          <div class="search-group__item-name">name</div>
        </div>
      </div>
    </div>
  </div>

  <div class="substrate">
    <div class="substrate__headline substrate__headline--gray">headline</div>
    <div class="search-group search-group--noborder">
      <div class="search-group__title g-block-small">title</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <select class="select">
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
        <div class="search-group__item g-block-wide">
          <label class="label">label</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-wide">
          <label class="label">label</label>
          <select class="select">
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <select class="select">
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-group search-group--noborder">
      <div class="search-group__title g-block-small">title</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <select class="select">
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-group search-group--noborder">
      <div class="search-group__title g-block-small">title</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <select class="select">
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-group search-group--noborder">
      <div class="search-group__title g-block-small">title</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">label</label>
          <select class="select">
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-group search-group--last">
      <div class="search-group__title search-group__title--no-label g-block-small">title</div>
      <div class="search-group__content">
        <div class="button-group">
          <div class="button-group__item">
            <div class="button-group__item-name">name</div>
          </div>
          <div class="button-group__item active">
            <div class="button-group__item-name">name</div>
          </div>
          <div class="button-group__item">
            <div class="button-group__item-name">name</div>
          </div>
          <div class="button-group__item">
            <div class="button-group__item-name">name</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>