<div class="l-max-width">

  <div class="substrate g-margin-bottom">
    <div class="substrate__headline substrate__headline--gray">К какой сфере деятельности относится Ваше обращение?</div>
    <form>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Разработчик</div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <select class="select">
              <option>Все</option>
              <option>Действителен</option>
              <option>Аннулирован</option>
            </select>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Разработчик</div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <select class="select">
              <option>Все</option>
              <option>Действителен</option>
              <option>Аннулирован</option>
            </select>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__headline">Параметры запроса</div>
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">
          Регистрационный номер по декларации
        </div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <input class="input input-text" type="text"/>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Разработчик</div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <select class="select">
              <option>Все</option>
              <option>Действителен</option>
              <option>Аннулирован</option>
            </select>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">
          Пероил за который,<br/>
          запришивается
        </div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <input class="input input-text" type="text"/>
          </div>
        </div>
      </div>
      <div class="search-group search-group--centered search-group--noborder search-group--last">
        <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Разработчик</div>
        <div class="search-group__content">
          <div class="search-group__item g-block-expanse">
            <input class="input input-text" type="text"/>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="substrate g-margin-bottom">
    <div class="substrate__headline substrate__headline--gray">Небольшая форма</div>
    <form>
      <div class="search-group__wrap-little">
        <div class="search-group search-group--centered search-group--noborder">
          <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">Разработчик</div>
          <div class="search-group__content">
            <div class="search-group__item g-block-expanse">
              <select class="select">
                <option>Все</option>
                <option>Действителен</option>
                <option>Аннулирован</option>
              </select>
            </div>
          </div>
        </div>
        <div class="search-group search-group--centered search-group--last search-group--noborder">
          <div class="search-group__title search-group__title--no-label search-group__title--right-bold g-block-mid">
            Регистрационный номер по декларации
          </div>
          <div class="search-group__content">
            <div class="search-group__item g-block-expanse">
              <input class="input input-text" type="text"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="substrate g-margin-bottom"> <!-- подложка -->
    <div class="substrate__headline substrate__headline--gray">Форма</div>
    <div class="search-group"> <!--группа элементов поиска-->
      <div class="search-group__title search-group__title--search-form g-block-small">Ключевые слова</div>
      <div class="search-group__content ">
        <div class="search-group__item search-group__item--search-form">

          <input type="search" placeholder="Например: регистрационный номер документа, наименование заявителя" class="input input--search-form">
          <input type="submit" value="" class="input-submit">

        </div>
      </div>
    </div>
    <div class="search-group">
      <div class="search-group__title g-block-small">Сведения <br/>о документе</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Регистрационный номер документа</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Вид документа</label>
          <select class="select">
            <option>Паспорт</option>
            <option>СНИЛС</option>
          </select>
        </div>
        <div class="search-group__item l-sides search-group__item--date g-block-wide">
          <label class="label">Дата окончания срока действия</label>
          <div class="l-side-left">
            <input type="text" class="input input--date g-block-small datepicker hasDatepicker" placeholder="с" id="dp1471511128177">
          </div>
          <div class="l-side-right">
            <input type="text" class="input input--date g-block-small datepicker hasDatepicker" placeholder="по" id="dp1471511128178">
          </div>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Статус действия</label>
          <div class="select-box">
            <select class="select">
              <option>Действителен</option>
              <option>Аннулирован</option>
            </select>
          </div>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Страна выдачи</label>
          <input class="input" type="text"/>
        </div>
        <div class="search-group__item l-sides search-group__item--date g-block-wide">
          <label class="label">Дата окончания срока действия</label>
          <div class="l-side-left">
            <input type="text" class="input input--date g-block-small datepicker hasDatepicker" placeholder="с" id="dp1471511128177">
          </div>
          <div class="l-side-right">
            <input type="text" class="input input--date g-block-small datepicker hasDatepicker" placeholder="по" id="dp1471511128178">
          </div>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Наименование заявителя</label>
          <input class="input" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Наименование органа по сертификации</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">Вид ветерираного <br/>препатара</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input checked id="rb_01" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_01" class="label label--checkbox">Ветеринарные лекарственные средства</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_02" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_02" class="label label--checkbox">Диагностические средства</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_03" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_03" class="label label--checkbox">Диагностические средства</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_04" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_04" class="label label--checkbox">Диагностические средства</label>
        </div>
      </div>
    </div>
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">Вид ветерираного <br/>препатара</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_01"/>
          <label for="sg_01" class="label label--checkbox">Ветеринарные лекарственные средства</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_02"/>
          <label for="sg_02" class="label label--checkbox">Диагностические средства </label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_03"/>
          <label for="sg_03" class="label label--checkbox">Кормовые добавки</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_04"/>
          <label for="sg_04" class="label label--checkbox">Дератизационные средства</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_05"/>
          <label for="sg_05" class="label label--checkbox">Дезинсекционные средства</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_06"/>
          <label for="sg_06" class="label label--checkbox">Дератизационные средства</label>
        </div>
      </div>
    </div>
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">Вид ветерираного <br/>препатара</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-wide">
          <input class="checkbox" type="checkbox" id="sg_011"/>
          <label for="sg_011" class="label label--checkbox">Ветеринарные лекарственные средства</label>
        </div>
      </div>
    </div>
    <div class="search-group search-group--last">
      <div class="search-group__title g-block-small">Национальные <br/>части реестра</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><img src="../images/country_01.svg"/></div>
          <div class="search-group__item-name">Армения</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><img src="../images/country_02.svg"/></div>
          <div class="search-group__item-name">Беларусь</div>
        </div>
        <div class="search-group__item search-group__item--country active">
          <div class="search-group__item-image"><img src="../images/country_03.svg"/></div>
          <div class="search-group__item-name">Казахстан</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><img src="../images/country_04.svg"/></div>
          <div class="search-group__item-name">Киргизия</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><img src="../images/country_05.svg"/></div>
          <div class="search-group__item-name">Россия</div>
        </div>
      </div>
    </div>
  </div>

  <div class="substrate"> <!-- подложка -->
    <div class="substrate__headline substrate__headline--gray">Группы без бордера</div>
    <div class="search-group search-group--noborder">
      <div class="search-group__title g-block-small">Производитель</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Наименование</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Страна</label>
          <select class="select">
            <option>Все</option>
            <option>Действителен</option>
            <option>Аннулирован</option>
          </select>
        </div>
        <div class="search-group__item g-block-wide">
          <label class="label">Наименование</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-wide">
          <label class="label">Страна</label>
          <select class="select">
            <option>Все</option>
            <option>Действителен</option>
            <option>Аннулирован</option>
          </select>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Наименование</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Страна</label>
          <select class="select">
            <option>Все</option>
            <option>Действителен</option>
            <option>Аннулирован</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-group search-group--noborder">
      <div class="search-group__title g-block-small">Разработчик</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Наименование</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Страна</label>
          <select class="select">
            <option>Все</option>
            <option>Действителен</option>
            <option>Аннулирован</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-group search-group--noborder">
      <div class="search-group__title g-block-small">Правообладатель</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Наименование</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label">Страна</label>
          <select class="select">
            <option>Все</option>
            <option>Действителен</option>
            <option>Аннулирован</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-group search-group--noborder">
      <div class="search-group__title g-block-small">Территория обращения</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Статус</label>
          <select class="select">
            <option>Все</option>
            <option>Действителен</option>
            <option>Аннулирован</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-group search-group--last">
      <div class="search-group__title search-group__title--no-label g-block-small">Классификация</div>
      <div class="search-group__content">
        <div class="button-group">
          <div class="button-group__item">
            <div class="button-group__item-name">Каждый</div>
          </div>
          <div class="button-group__item active">
            <div class="button-group__item-name">охотник</div>
          </div>
          <div class="button-group__item">
            <div class="button-group__item-name">желает</div>
          </div>
          <div class="button-group__item">
            <div class="button-group__item-name">знать</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>