<div class="container">
  <div class="substrate">
    <div class="l-sides">
      <div class="l-side-left">
        <h1>Ver 0.0.17 (24.11.2016)</h1>
      </div>
      <div class="l-side-right">
        <a href="style_guide_0.0.17.rar" download class="btn btn--blue"><i class="i-download"></i>Скачать</a>
      </div>
    </div>

    <h2>Обновления/дополнения по задачам</h2>
    <div class="circle-list g-margin-bottom">
      <ul>
        <li class="circle-list__item">обновлена "Тематическая" страница (<a href="https://echo.centre-it.com/jira/browse/PORTAL-726">PORTAL-726</a>)</li>
        <li class="circle-list__item">обновлен список заявок (<a href="https://echo.centre-it.com/jira/browse/MODOP-1007">MODOP-1007</a>)</li>
      </ul>
    </div>

    <h2>Формы</h2>
    <div class="circle-list g-margin-bottom">
      <ul>
        <li class="circle-list__item">обновлен список заявок</li>
      </ul>
    </div>

  </div>
</div>