<div class="container">
  <div class="substrate">
    <div class="l-sides">
      <div class="l-side-left">
        <h1>Ver 0.0.17 (24.11.2016)</h1>
      </div>
      <div class="l-side-right">
        <a href="style_guide_0.0.17.rar" download class="btn btn--blue"><i class="i-download"></i>Download</a>
      </div>
    </div>

    <h2>Updates</h2>
    <div class="circle-list g-margin-bottom">
      <ul>
        <li class="circle-list__item">update 1</li>
        <li class="circle-list__item">update 2</li>
      </ul>
    </div>

    <h2>Forms</h2>
    <div class="circle-list g-margin-bottom">
      <ul>
        <li class="circle-list__item">update</li>
      </ul>
    </div>

  </div>
</div>