<div class="container">
  <div class="substrate g-margin-bottom">
    <h2>Для подключения</h2>
    <div class="circle-list">
      <ul>
        <li class="circle-list__item">скачаь последнюю версию <a class="link" href="style_guide_0.0.17.rar" download>StyleGuide</a></li>
        <li class="circle-list__item">подключить файл стилей style_guide.css к проекту</li>
        <li class="circle-list__item">переместить изображения в папку проекта в директорию /images</li>
        <li class="circle-list__item">переместить шрифты в папку проекта в директорию /fonts</li>
      </ul>
    </div>
  </div>
  <div class="substrate g-margin-bottom">
    <h2>Для подключения через NPM</h2>

    <p>Для подключения к проекту используется локальный репозитории, поэтому необходимо выполнить следующие дейсвия:</p>

    <p>В качестве внутреннего репозитория npm-пакетов используется Nexus (https://echo.centre-it.com/nexus/).</p>

    <p>Настройка Nexus для проксирования npm-репозиториев произведена в соответствии с документацией. Создан репозиторий npmjs Registry (проксирующий registry.npmjs.org), репозиторий npm-internal для регистрации собственных компонентов, а также группа npm-all, объединяющая оба репозитория.</p>

    <p>Чтобы утилита npm использовала внутренний репозиторий, необходимо создать файл .npmrc в корневом каталоге пользователя:</p>

    <div class="g-margin-bottom">
      <ul>
        <li>В Linux, OS X — ~/.npmrc</li>
        <li>В Windows — c:\Users\<user>\.npmrc</li>
      </ul>
    </div>



    <p>Пример содержимого файла: registry=https://echo.centre-it.com/nexus/content/groups/npm-all/ always-auth=true strict-ssl=false email=Steve.Jobs@centre-it.com _auth=YWRtaW46YWRtaW4xMjM=</p>

    <p>В значение email необходимо подставить свой рабочий адрес электронной почты, в значение _auth — строку вида логин:пароль, преобразованную в base64. Её можно получить следующим образом:</p>

    <p>В Linux, OS X:</p>

    <p>echo -n 'user:password' | openssl base64</p>

    <p>В Windows (в терминале cmd):</p>

    <p>@powershell -NoProfile -ExecutionPolicy Bypass -Command "System.Convert::ToBase64String([System.Text.Encoding]::UTF8.GetBytes(\"user:password\"))"</p>

    <p>В Windows (в терминале PowerShell):</p>

    <p>Далее, подключаем как любой другой плагин через консоль :</p>

    <p>npm install StyleGuide</p>
  </div>
</div>
