<div class="container code-example__wrap--dark">
  <div class="code-example__headline">1 level</div>
</div>

<div class="top-menu__wrap g-margin-bottom">

  <div class="top-menu__substrate">
    <div class="container top-menu__list horizontal-list">
      <ul>
        <li ui-sref-active="top-menu__item--active" class="horizontal-list__item top-menu__item">
          <a class="link top-menu__link top-menu__link--home" href="/">
            <i class="top-menu__link-icon v-home__icon--home"></i>
          </a>
        </li>
        <li class="horizontal-list__item top-menu__item">
          <a class="link top-menu__link" href="/">Menu item</a>
        </li>
        <li class="horizontal-list__item top-menu__item top-menu__item--active">
          <a class="link top-menu__link" href="/">Menu item</a>
        </li>
        <li class="horizontal-list__item top-menu__item">
          <a class="link top-menu__link" href="/">Menu item</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="container code-example__wrap--dark">
  <div class="code-example__headline">Breadcrumbs</div>
</div>

<div class="top-menu__wrap g-margin-bottom">

  <div class="top-menu__substrate">
  <div class="container horizontal-list bread-crumbs">
    <div class="horizontal-list__item bread-crumbs__item">
      <div class="bread-crumbs__link bread-crumbs__link--home">
        <i class="bread-crumbs__home"></i>
      </div>
    </div>
    <div class="horizontal-list__item bread-crumbs__item">
      <div class="bread-crumbs__link">
        Headline
      </div>
    </div>
  </div>
  </div>

</div>

<div class="container code-example__wrap--dark">
  <div class="code-example__headline">Breadcrumbs + 2 level</div>
</div>

<div class="top-menu__wrap g-margin-bottom">

  <div class="top-menu__substrate">
    <div class="container horizontal-list bread-crumbs">
      <div class="horizontal-list__item bread-crumbs__item">
        <div class="bread-crumbs__link bread-crumbs__link--home">
          <i class="bread-crumbs__home"></i>
        </div>
      </div>
      <div class="horizontal-list__item bread-crumbs__item">
        <div class="bread-crumbs__link">
          Headline
        </div>
      </div>
    </div>
  </div>


  <div class="nav-menu__wrap">
    <div class="container">
      <ul class="nav-menu">
        <li class="nav-menu__item">
          <div class="nav-menu__link">
            Subitem
          </div>
        </li>
        <li class="nav-menu__item nav-menu__item--active">
          <div class="nav-menu__link">
            Subitem
          </div>
        </li>
        <li class="nav-menu__item">
          <div class="nav-menu__link">
            Subitem
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="container code-example__wrap--dark">
  <div class="code-example__headline">Breadcrumbs + headline + 2 level</div>
</div>

<div class="top-menu__wrap g-margin-bottom">

  <div class="top-menu__substrate g-margin-bottom">
    <div class="container horizontal-list bread-crumbs">
      <div class="horizontal-list__item bread-crumbs__item">
        <div class="bread-crumbs__link bread-crumbs__link--home">
          <i class="bread-crumbs__home"></i>
        </div>
      </div>
      <div class="horizontal-list__item bread-crumbs__item">
        <div class="bread-crumbs__link">
          Headline
        </div>
      </div>
    </div>
  </div>



  <div class="subheading">
    <div class="container">
      Some description of whatever it can be
    </div>
  </div>

  <div class="nav-menu__wrap">
    <div class="container">
      <ul class="nav-menu">
        <li class="nav-menu__item">
          <div class="nav-menu__link">
            Subitem
          </div>
        </li>
        <li class="nav-menu__item nav-menu__item--active">
          <div class="nav-menu__link">
            Subitem
          </div>
        </li>
        <li class="nav-menu__item">
          <div class="nav-menu__link">
            Subitem
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>


