<div class="container">
  <div class="substrate">
    <div class="search-group">
      <div class="search-group__title g-block-small">Some info</div>
      <div class="search-group__content">
        <div class="search-group__item l-sides search-group__item--date g-block-wide">
          <label class="label">End of times</label>
          <div class="l-side-left">
            <input type="text" class="input input--date g-block-small datepicker" placeholder="from">
          </div>
          <div class="l-side-right">
            <input type="text" class="input input--date g-block-small datepicker" placeholder="to">
          </div>
        </div>
        <div class="search-group__item g-block-wide">
          <label class="label">status</label>
          <div class="select-box">
            <select class="select">
              <option>option</option>
              <option>option</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>