<div class="container">
  <div class="substrate">

    <div class="search-group search-group--validation-half">
      <div class="search-group__title search-group__title--no-label g-block-small">Age</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-min">
          <input class="input" type="text"/>
        </div>
        <div class="search-group__comment">
          <div class="search-group__comment-text">
            <span class="search-group__comment-important">required</span>
          </div>
        </div>
      </div>
    </div>

    <div class="search-group search-group--validation-half">
      <div class="search-group__title search-group__title--no-label g-block-small">Name</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide-44">
          <input class="input" type="text"/>
        </div>
        <div class="search-group__comment">
          <div class="search-group__comment-text">
            <span class="search-group__comment-important">required</span>
          </div>
        </div>
      </div>
    </div>

    <div class="search-group search-group--validation-half search-group--last">
      <div class="search-group__title search-group__title--no-label g-block-small">Sex</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide-54">
          <input class="input" type="text"/>
        </div>
        <div class="search-group__comment">
          <div class="search-group__comment-text">
            <span class="search-group__comment-important">required</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>