<div class="container">
  <div class="substrate"> <!-- подложка -->
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">Types of smth</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_01"/>
          <label for="sg_01" class="label label--checkbox">Smth of smth else</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_02"/>
          <label for="sg_02" class="label label--checkbox">Smth of smth else</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_03"/>
          <label for="sg_03" class="label label--checkbox">Smth of smth else</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_04"/>
          <label for="sg_04" class="label label--checkbox">Smth of smth else</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_05"/>
          <label for="sg_05" class="label label--checkbox">Smth of smth else</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input class="checkbox-trigger" type="checkbox" id="sg_06"/>
          <label for="sg_06" class="label label--checkbox">Smth of smth else</label>
        </div>
      </div>
    </div>
  </div>
</div>