<div class="container">
  <div class="substrate"> <!-- подложка -->
    <div class="search-group"> <!--группа элементов поиска-->
      <div class="search-group__title search-group__title--search-form g-block-small">Ключевые слова</div>
      <div class="search-group__content ">
        <div class="search-group__item search-group__item--search-form">
          <form>
            <input class="input input--search-form" placeholder="Например: регистрационный номер документа, наименование заявителя" type="search"/>
            <input class="input-submit" type="submit" value=""/>
          </form>
        </div>
      </div>
    </div>
    <div class="search-group search-group--last">
      <div class="search-group__title g-block-small">Сведения <br/>о продукции</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide">
          <label class="label label--tall">Наименование продукции</label>
          <input class="input" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label label--tall">Код ТН ВЭД ЕАЭС или длинное, длинное описание</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>
  </div>
  <div class="search-wrap__buttons">
    <div class="search-wrap__buttons-records">
      <span class="search-wrap__buttons-records-count">17</span> записей
    </div>
    <span class="search-wrap__button--hide">Скрыть детали</span>
    <span class="search-wrap__button--reset">Сбросить</span>
  </div>
</div>