<div class="container">
  <div class="substrate">
    <div class="product-list">
      <ul>
        <li class="product-list__item active">
          <a class="product-list__link">
            <span class="product-list__trigger-icon i-trigger"></span>
            <span class="product-list__link-text">Позиции перечней продукции</span>
            <span class="product-list__link-count">(15)</span>
          </a>

          <div class="product-list__content">
            <p>Текст</p>
          </div>
        </li>
        <li class="product-list__item">
          <a class="product-list__link">
            <span class="product-list__trigger-icon i-trigger"></span>
            <span class="product-list__link-text">Позиции перечней продукции</span>
            <span class="product-list__link-count">(15)</span>
          </a>
        </li>
        <li class="product-list__item">
          <a class="product-list__link">
            <span class="product-list__trigger-icon i-trigger"></span>
            <span class="product-list__link-text">Позиции перечней продукции</span>
            <span class="product-list__link-count">(5)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>