<div class="container">
  <div class="substrate"> <!-- подложка -->
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">Вид ветерираного <br/>препатара</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-expanse">
          <input class="checkbox" type="checkbox" id="sg_011"/>
          <label for="sg_011" class="label label--checkbox">Ветеринарные лекарственные средства</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-expanse">
          <input class="checkbox" type="checkbox" id="sg_012"/>
          <label for="sg_012" class="label label--checkbox">Ветеринарные средства</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-expanse">
          <input class="checkbox" type="checkbox" id="sg_013"/>
          <label for="sg_013" class="label label--checkbox">Лекарственные средства</label>
        </div>
      </div>
    </div>
  </div>
</div>