<div class="container">
  <div class="substrate">

    <div class="search-group">
      <div class="search-group__title g-block-small">Minimal</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-min">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Small</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-small">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Middle</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Wide</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Wide</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide-44">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Wide</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide-54">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Wide</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide-65">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Maximum</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-max">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group search-group--last">
      <div class="search-group__title g-block-small">Full size</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-expanse">
          <label class="label">Code</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

  </div>
</div>