<div class="container">
  <div class="substrate"> <!-- подложка -->
    <div class="search-group search-group--last">
      <div class="search-group__title search-group__title--no-label g-block-small">Классификация</div>
      <div class="search-group__content">
        <div class="button-group button-group--last">
          <div class="button-group__item">
            <div class="button-group__item-name">Каждый</div>
          </div>
          <div class="button-group__item active">
            <div class="button-group__item-name">охотник</div>
          </div>
          <div class="button-group__item">
            <div class="button-group__item-name">желает</div>
          </div>
          <div class="button-group__item">
            <div class="button-group__item-name">знать</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>