<div class="container">
  <div class="substrate"> <!-- подложка -->
    <div class="search-group"> <!--группа элементов поиска-->

      <div class="search-group__item search-group__item--split search-group__item--split-select">
        <select class="select">
          <option>Заявления</option>
          <option>Медицинские изделия</option>
          <option>Регистрационные удостоверения</option>
        </select>
      </div>
      <div class="search-group__item search-group__item--split search-group__item--split-search">
        <input class="input input--search-form" placeholder="Например: стропфид, блистер, респикам" type="search"/>
        <input class="input-submit" type="submit" value=""/>
      </div>

    </div>
    <div class="search-group search-group--last">
      <div class="search-group__title g-block-small">Заявление</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Номер</label>
          <input class="input input-text" type="text"/>
        </div>
        <div class="search-group__item l-sides search-group__item--date g-block-wide">
          <label class="label">Дата подачи</label>
          <div class="l-side-left">
            <input placeholder="с" class="input input--date g-block-small datepicker"  type="text"/>
          </div>
          <div class="l-side-right">
            <input placeholder="по" class="input input--date g-block-small datepicker" type="text"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-wrap__buttons">
    <div class="search-wrap__buttons-records">
      <span class="search-wrap__buttons-records-count">17</span> записей
    </div>
    <span class="search-wrap__button--hide">Скрыть детали</span>
    <span class="search-wrap__button--reset">Сбросить</span>
  </div>
</div>