<div class="container">
  <form>
  <div class="substrate"> <!-- подложка -->

    <div class="search-group search-group--validation">
      <div class="search-group__title search-group__title--no-label g-block-small">Имя</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <input class="input ng-invalid ng-not-empty ng-dirty ng-invalid-email ng-valid-required ng-touched" type="text" placeholder="Jktu"/>
        </div>
        <div class="search-group__comment">
          <div class="search-group__comment-text">
            <span class="search-group__comment-important">обязательное</span>
          </div>
        </div>
      </div>
    </div>

    <div class="search-group search-group--validation">
      <div class="search-group__title search-group__title--no-label g-block-small">Фамилия</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide">
          <input class="input" type="text"/>
        </div>
        <div class="search-group__comment">
          <div class="search-group__comment-text">
            <span class="search-group__comment-important active">обязательное</span>
          </div>
        </div>
      </div>
    </div>

    <div class="search-group search-group--validation">
      <div class="search-group__title search-group__title--no-label g-block-small">E-mail</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide">
          <input class="input" type="text" placeholder="wrong-mail.com"/>
          <div class="popup-window popup-window--invalid-left" style="top: -13.5px;left:372px;display:block;">
            Адрес электронной почты введен неверно
          </div>
        </div>
        <div class="search-group__comment">
          <div class="search-group__comment-text">
            <span class="search-group__comment-important">обязательное</span>
          </div>
        </div>
      </div>
    </div>

    <div class="search-group search-group--validation search-group--last">
      <div class="search-group__title search-group__title--no-label g-block-small"></div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide">
          <span class="btn btn--send">Отправить</span>
        </div>
      </div>
    </div>

  </div>
  </form>
</div>