<div class="container">
  <div class="substrate"> <!-- подложка -->

    <div class="search-group">
      <div class="search-group__title g-block-small">Минимальный</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-min">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Небольшой</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-small">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Средний</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-mid">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Широкий</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Широкий</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide-44">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Широкий</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide-54">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Широкий</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide-65">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group">
      <div class="search-group__title g-block-small">Максимальный</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-max">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

    <div class="search-group search-group--last">
      <div class="search-group__title g-block-small">100% ширины</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-expanse">
          <label class="label">Код</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>

  </div>
</div>