<div class="container">
  <div class="substrate">
    <div class="product-list">
      <ul>
        <li class="product-list__item active">
          <a class="product-list__link">
            <span class="product-list__trigger-icon i-trigger"></span>
            <span class="product-list__link-text">Positions</span>
            <span class="product-list__link-count">(15)</span>
          </a>

          <div class="substrate substrate--table product-list__content">
            <div class="filter filter--table">
              <form>
                <div class="l-side-left">
                  <div class="filter-item ">
                    <a class="link--inactive">To start</a>
                  </div>
                  <div class="filter-item ">
                    <i class="i-arrow i-arrow--left-disabled"></i>
                  </div>
                  <div class="filter-item ">
                    <input placeholder="1" class="input input--number"/>
                  </div>
                  <div class="filter-item ">
                    из
                  </div>
                  <div class="filter-item ">
                    <a class="link">4</a>
                  </div>
                  <div class="filter-item ">
                    <i class="i-arrow i-arrow--blue-right"></i>
                  </div>
                </div>
                <div class="l-side-right">
                  <div class="filter-item ">
                    15 records
                  </div>
                  <div class="filter-item g-block-small">
                    <select class="select">
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <div class="filter-item g-block-small">
                    <select class="select">
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <div class="filter-item g-block-small">
                    <select class="select">
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="table__wrap">
              <table class="table">
                <tr class="table__row">
                  <td class="table__cell table__cell--headline table__cell--sort">
                    Number
                  </td>
                  <td class="table__cell table__cell--headline table__cell--sort">Headline 1</td>
                  <td class="table__cell table__cell--headline table__cell--sort">Headline 2</td>
                  <td class="table__cell table__cell--headline table__cell--sort">Headline 3</td>
                  <td class="table__cell table__cell--headline table__cell--sort">Headline 4</td>
                  <td class="table__cell table__cell--headline table__cell--sort">Headline 5</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell"><a class="link">98798742987298</a></td>
                  <td class="table__cell">Smth</td>
                  <td class="table__cell">Smtj of smth</td>
                  <td class="table__cell">16.04.1815 - 17.04.1816</td>
                  <td class="table__cell">Expert opiion</td>
                  <td class="table__cell"><span class="btn btn--status btn--status-red">Stop</span></td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell"><a class="link">98798742987298</a></td>
                  <td class="table__cell">Smth</td>
                  <td class="table__cell">Smtj of smth</td>
                  <td class="table__cell">16.04.1815 - 17.04.1816</td>
                  <td class="table__cell">Expert opiion</td>
                  <td class="table__cell"><span class="btn btn--status btn--status-green">In progress</span></td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell"><a class="link">98798742987298</a></td>
                  <td class="table__cell">Smth</td>
                  <td class="table__cell">Smtj of smth</td>
                  <td class="table__cell">16.04.1815 - 17.04.1816</td>
                  <td class="table__cell">Expert opiion</td>
                  <td class="table__cell"><span class="btn btn--status btn--status-red">Out fo stock</span></td>
                </tr>
              </table>
            </div>
          </div>
        </li>
        <li class="product-list__item">
          <a class="product-list__link">
            <span class="product-list__trigger-icon i-trigger"></span>
            <span class="product-list__link-text">Positions</span>
            <span class="product-list__link-count">(15)</span>
          </a>
        </li>
        <li class="product-list__item ">
          <a class="product-list__link">
            <span class="product-list__trigger-icon i-trigger"></span>
            <span class="product-list__link-text">Positions</span>
            <span class="product-list__link-count">(5)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>