<div class="container">
  <div class="substrate">

    <div class="row">
      <div class="gr-2">
        <button class="btn btn--send">Send</button>
      </div>
      <div class="gr-2">
        <button class="btn btn--blue">Show</button>
      </div>
      <div class="gr-2">
        <button class="btn">Button</button>
      </div>
      <div class="gr-2">
        <button disabled class="btn">Inactive</button>
      </div>
      <div class="gr-2">
        <button class="btn btn--multiline">Semi strings button have to be</button>
      </div>
    </div>

  </div>

</div>