<div class="container">

  <div class="bid-list">
      <div class="bid-list__item active">
        <div class="row">
          <div class="gr-2">
            <div class="bid-list__num">
              <div class="bid-list__num-title">record №323</div>
              <div class="bid-list__num-date">02.07.1916 – 11:31</div>
              <div class="bid-list__num-check">
                <i class="i-check checked"></i>
              </div>
            </div>
          </div>
          <div class="gr-5">
            <div class="bid-list__name">
              Request of smth
            </div>
          </div>
          <div class="gr-5">
            <div class="bid-list__info">
              <div class="row row-align-middle">
                <div class="gr-4">
                  <div class="bid-list__info-history">

                  </div>
                </div>
                <div class="gr-4">
                  <div class="bid-list__info-status">
                    <span class="btn btn--status btn--status-gray">In progress</span>
                  </div>
                </div>
                <div class="gr-4">
                  <div class="bid-list__info-result">
                    <a class="link bid-list__info-link"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bid-list__item">
        <div class="row">
          <div class="gr-2">
            <div class="bid-list__num">
              <div class="bid-list__num-title">Record №323</div>
              <div class="bid-list__num-date">02.07.1716 – 10:15</div>
              <div class="bid-list__num-check">
                <i class="i-check"></i>
              </div>
            </div>
          </div>
          <div class="gr-5">
            <div class="bid-list__name">
              Request of smth
            </div>
          </div>
          <div class="gr-5">
            <div class="bid-list__info">
              <div class="row row-align-middle">
                <div class="gr-4">
                  <div class="bid-list__info-history">

                  </div>
                </div>
                <div class="gr-4">
                  <div class="bid-list__info-status">
                    <span class="btn btn--status btn--status-green">Complete</span>
                  </div>
                </div>
                <div class="gr-4">
                  <div class="bid-list__info-result">
                    <a class="link bid-list__info-link"><i class="i-result"></i>Result</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bid-list__item">
        <div class="row">
          <div class="gr-2">
            <div class="bid-list__num">
              <div class="bid-list__num-title">record №323</div>
              <div class="bid-list__num-date">02.07.1916 – 11:31</div>
              <div class="bid-list__num-check">
                <i class="i-check"></i>
              </div>
            </div>
          </div>
          <div class="gr-5">
            <div class="bid-list__name">
              Request of smth
            </div>
          </div>
          <div class="gr-5">
            <div class="bid-list__info">
              <div class="row row-align-middle">
                <div class="gr-4">
                  <div class="bid-list__info-history">
                    <!--<a class="link bid-list__info-link"><i class="i-history"></i>History</a>-->
                  </div>
                </div>
                <div class="gr-4">
                  <div class="bid-list__info-status">
                    <span class="btn btn--status btn--status-red">Mistake</span>
                  </div>
                </div>
                <div class="gr-4">
                  <div class="bid-list__info-result">
                    <a class="link bid-list__info-link"><i class="i-bid-info"></i>Info</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

