<div class="container">
  <div class="substrate"> <!-- подложка -->
    <div class="search-group">
      <div class="search-group__title g-block-small">Сведения <br/>о документе</div>
      <div class="search-group__content">
        <div class="search-group__item l-sides search-group__item--date g-block-wide">
          <label class="label">Дата окончания срока действия</label>
          <div class="l-side-left">
            <input type="text" class="input input--date g-block-small datepicker" placeholder="с">
          </div>
          <div class="l-side-right">
            <input type="text" class="input input--date g-block-small datepicker" placeholder="по">
          </div>
        </div>
        <div class="search-group__item g-block-wide">
          <label class="label">Статус действия</label>
          <div class="select-box">
            <select class="select">
              <option>Действителен</option>
              <option>Аннулирован</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>