<div class="container">
  <div class="substrate">

    <div class="row">
      <div class="gr-2">
        <button class="btn btn--send">Отправить</button>
      </div>
      <div class="gr-2">
        <button class="btn btn--blue">Показать все</button>
      </div>
      <div class="gr-2">
        <button class="btn">Кнопка</button>
      </div>
      <div class="gr-2">
        <button disabled class="btn">Неактивная</button>
      </div>
      <div class="gr-2">
        <button class="btn btn--multiline">Кнопка в несколько строчек</button>
      </div>
    </div>

  </div>

</div>