<div class="container">
  <div class="row">
    <div class="gr-8">
      <div class="search-group search-group__item--split-compact search-group--last search-group--noborder"> <!--группа элементов поиска-->

        <div class="search-group__item search-group__item--split search-group__item--split-select">
          <select class="select">
            <option>Заявления</option>
            <option>Медицинские изделия</option>
            <option>Регистрационные удостоверения</option>
          </select>
        </div>
        <div class="search-group__item search-group__item--split search-group__item--split-search">
          <input class="input input--search-compact" placeholder="Например: стропфид, блистер, респикам" type="search"/>
          <input class="input-submit input-submit--compact" type="submit" value=""/>
        </div>

      </div>
    </div>
    <div class="gr-12">
      <div class="search-wrap__buttons search-wrap__buttons--compact">
        <span class="search-wrap__button--hide">Детали поиска</span>
      </div>
    </div>
  </div>
</div>