<div class="container">
  <div class="substrate"> <!-- подложка -->
    <div class="search-group">
      <div class="search-group__title search-group__title--no-label g-block-small">Types of smth</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input checked id="rb_01" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_01" class="label label--checkbox">some example of smth else</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_02" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_02" class="label label--checkbox">some example of smth else</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_03" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_03" class="label label--checkbox">some example of smth else</label>
        </div>
        <div class="search-group__item search-group__item--checkbox g-block-mid">
          <input id="rb_04" name="radiobutton" class="radio-trigger" type="radio"/>
          <label for="rb_04" class="label label--checkbox">some example of smth else</label>
        </div>
      </div>
    </div>
  </div>
</div>