<div class="container">
  <div class="substrate">
    <div class="search-group search-group--last">
      <div class="search-group__title search-group__title--no-label g-block-small">Classification</div>
      <div class="search-group__content">
        <div class="button-group button-group--multi">
          <div class="button-group__item active">
            <div class="button-group__item-name">Every</div>
          </div>
          <div class="button-group__item active">
            <div class="button-group__item-name">hunter</div>
          </div>
          <div class="button-group__item">
            <div class="button-group__item-name">wish</div>
          </div>
          <div class="button-group__item">
            <div class="button-group__item-name">to know</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>