<div class="container">
  <div class="substrate">
    <div class="search-group">
      <div class="search-group__title search-group__title--search-form g-block-small">keywords</div>
      <div class="search-group__content ">
        <div class="search-group__item search-group__item--search-form">
          <form>
            <input class="input input--search-form" placeholder="Example: for example" type="search"/>
            <input class="input-submit" type="submit" value=""/>
          </form>
        </div>
      </div>
    </div>
    <div class="search-group search-group--last">
      <div class="search-group__title g-block-small">Some info</div>
      <div class="search-group__content">
        <div class="search-group__item g-block-wide">
          <label class="label label--tall">some name</label>
          <input class="input" type="text"/>
        </div>
        <div class="search-group__item g-block-mid">
          <label class="label label--tall">Some small or not small description</label>
          <input class="input" type="text"/>
        </div>
      </div>
    </div>
  </div>
  <div class="search-wrap__buttons">
    <div class="search-wrap__buttons-records">
      <span class="search-wrap__buttons-records-count">17</span> records
    </div>
    <span class="search-wrap__button--hide">Hide</span>
    <span class="search-wrap__button--reset">Reset</span>
  </div>
</div>