<div class="container">
  <div class="row">
    <div class="gr-6">
      <div class="iresource__search">
        <div class="search-group search-group--last search-group--noborder">
          <div class="search-group__item search-group__item--search-form">
            <form>
              <input type="search" placeholder="Ключевые слова" class="input input--search-compact">
              <input type="submit" value="" class="input-submit input-submit--compact">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="gr-12">
      <div class="search-wrap__buttons search-wrap__buttons--compact">
        <span class="search-wrap__button--hide">Детали поиска</span>
      </div>
    </div>
  </div>
</div>