<div class="container">
  <div class="substrate">
    <div class="search-group">
      <div class="search-group__title g-block-small">Example of smth</div>
      <div class="search-group__content">
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><i class="i-country i-country--no-margin i-country--am"></i></div>
          <div class="search-group__item-name">Some example</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><i class="i-country i-country--no-margin i-country--by"></i></div>
          <div class="search-group__item-name">Some example</div>
        </div>
        <div class="search-group__item search-group__item--country active">
          <div class="search-group__item-image"><i class="i-country i-country--no-margin i-country--kz"></i></div>
          <div class="search-group__item-name">Some example</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><i class="i-country i-country--no-margin i-country--kg"></i></div>
          <div class="search-group__item-name">Some example</div>
        </div>
        <div class="search-group__item search-group__item--country">
          <div class="search-group__item-image"><i class="i-country i-country--no-margin i-country--ru"></i></div>
          <div class="search-group__item-name">Some example</div>
        </div>
      </div>
    </div>
  </div>
</div>