<div class="container">
  <div class="substrate substrate--table">
    <div class="table__wrap table__wrap--striped">
      <table class="table">
        <tr class="table__row">
          <td class="table__cell table__cell--headline">some long ong headline</td>
          <td class="table__cell table__cell--headline">headline</td>
          <td class="table__cell table__cell--headline">headline</td>
          <td class="table__cell table__cell--headline">headline</td>
          <td class="table__cell table__cell--headline">headline</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">r98th4rt98hv</a></td>
          <td class="table__cell">some example</td>
          <td class="table__cell">some example</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Some long description of something else</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">r98th4rt98hv</a></td>
          <td class="table__cell">some example</td>
          <td class="table__cell">some example</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Some long description of something else</td>
        </tr>
        <tr class="table__row">
        <td class="table__cell"><a class="link">r98th4rt98hv</a></td>
        <td class="table__cell">some example</td>
        <td class="table__cell">some example</td>
        <td class="table__cell">16.01.2015 - 15.01.2017</td>
        <td class="table__cell">Some long description of something else</td>
      </tr>
        <tr class="table__row">
        <td class="table__cell"><a class="link">r98th4rt98hv</a></td>
        <td class="table__cell">some example</td>
        <td class="table__cell">some example</td>
        <td class="table__cell">16.01.2015 - 15.01.2017</td>
        <td class="table__cell">Some long description of something else</td>
      </tr>
        <tr class="table__row">
        <td class="table__cell"><a class="link">r98th4rt98hv</a></td>
        <td class="table__cell">some example</td>
        <td class="table__cell">some example</td>
        <td class="table__cell">16.01.2015 - 15.01.2017</td>
        <td class="table__cell">Some long description of something else</td>
      </tr>
        <tr class="table__row">
        <td class="table__cell"><a class="link">r98th4rt98hv</a></td>
        <td class="table__cell">some example</td>
        <td class="table__cell">some example</td>
        <td class="table__cell">16.01.2015 - 15.01.2017</td>
        <td class="table__cell">Some long description of something else</td>
      </tr>
        <tr class="table__row">
        <td class="table__cell"><a class="link">r98th4rt98hv</a></td>
        <td class="table__cell">some example</td>
        <td class="table__cell">some example</td>
        <td class="table__cell">16.01.2015 - 15.01.2017</td>
        <td class="table__cell">Some long description of something else</td>
      </tr>
      </table>
    </div>
  </div>
</div>