<div class="container">
  <div class="substrate substrate--table">

    <div class="table__wrap js-datatable-wrap">
      <table class="table table--sticky js-sticky-table">
        <thead class="table__header">
          <tr class="table__row">
            <th rowspan="2" class="table__cell table__cell--headline" style="white-space:nowrap;">Headline Example</th>
            <th colspan="4" class="table__cell table__cell--headline" style="text-align:center;">Example</th>
            <th colspan="4" class="table__cell table__cell--headline" style="text-align:center;">Example</th>
            <th colspan="4" class="table__cell table__cell--headline" style="text-align:center;">Example</th>
            <th colspan="4" class="table__cell table__cell--headline" style="text-align:center;">Example</th>
          </tr>
        <tr class="table__row">
          <th class="table__cell table__cell--headline">1</th>
          <th class="table__cell table__cell--headline">2</th>
          <th class="table__cell table__cell--headline">3</th>
          <th class="table__cell table__cell--headline">total</th>
          <th class="table__cell table__cell--headline">1</th>
          <th class="table__cell table__cell--headline">2</th>
          <th class="table__cell table__cell--headline">3</th>
          <th class="table__cell table__cell--headline">total</th>
          <th class="table__cell table__cell--headline">1</th>
          <th class="table__cell table__cell--headline">2</th>
          <th class="table__cell table__cell--headline">3</th>
          <th class="table__cell table__cell--headline">total</th>
          <th class="table__cell table__cell--headline">1</th>
          <th class="table__cell table__cell--headline">2</th>
          <th class="table__cell table__cell--headline">3</th>
          <th class="table__cell table__cell--headline">total</th>
        </tr>
        </thead>
        <tbody class="table__body">
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">Some long description of something else</td>
            <td class="table__cell">45</td>
            <td class="table__cell">34</td>
            <td class="table__cell">23</td>
            <td class="table__cell">43</td>
            <td class="table__cell">25</td>
            <td class="table__cell">01</td>
            <td class="table__cell">565</td>
            <td class="table__cell">22</td>
            <td class="table__cell">48</td>
            <td class="table__cell">85</td>
            <td class="table__cell">29</td>
            <td class="table__cell">87</td>
            <td class="table__cell">54</td>
            <td class="table__cell">54</td>
            <td class="table__cell">78</td>
            <td class="table__cell">54</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


