<div class="container">
  <div class="substrate substrate--table">
    <div class="table__wrap">
      <table class="table table--col-3">
        <tr class="table__row">
          <td class="table__cell table__cell--headline">Some headline </td>
          <td class="table__cell table__cell--headline">Some headline </td>
          <td class="table__cell table__cell--headline table__cell--thin">Some date </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            Some long description of something else <br/>
            of something else
          </td>
          <td class="table__cell">
            Some long description of something else <br/>
            of something else
          </td>
          <td class="table__cell">
            01.12.2012
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            Some long description of something else <br/>
            of something else
          </td>
          <td class="table__cell">
            Some long description of something else <br/>
            of something else
          </td>
          <td class="table__cell">
            01.12.2012
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            Some long description of something else <br/>
            of something else
          </td>
          <td class="table__cell">
            Some long description of something else <br/>
            of something else
          </td>
          <td class="table__cell">
            01.12.2012
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
