<div class="container">
  <div class="substrate substrate--table">
    <div class="table__wrap">
      <table class="table table--rtable">
        <tbody>
        <tr class="table__row">
          <td class="table__cell table__cell--headline">Торговое наименование</td>
          <td class="table__cell table__cell--headline table__cell--med">Международное непатентованное наименование</td>
          <td class="table__cell table__cell--headline">Вид ветеринарного препарата</td>
          <td class="table__cell table__cell--headline">Лекарственная форма</td>
          <td class="table__cell table__cell--headline table__cell--med">Производитель</td>
          <td class="table__cell table__cell--headline">Территория обращения</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">Инспектор Тотал С</td>
          <td class="table__cell ">Фипронил</td>
          <td class="table__cell">ветеринарное лекарственное средство</td>
          <td class="table__cell">Порошок для приготовления раствора для приема внутрь (750 мг + 30 мг)</td>
          <td class="table__cell ">ЗАО "НПФ "Экопром", 140070, Московская область, Люберецкий район, пос. Томилино, ул. Гаршина, д. 11 <br/>
            <a class="link link--location">Показать на карте</a>
          </td>
          <td class="table__cell">Республика Армения, Росийская Федерация</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">Инспектор Тотал С</td>
          <td class="table__cell ">Фипронил</td>
          <td class="table__cell">ветеринарное лекарственное средство</td>
          <td class="table__cell">Порошок для приготовления раствора для приема внутрь (750 мг + 30 мг)</td>
          <td class="table__cell ">ЗАО "НПФ "Экопром", 140070, Московская область, Люберецкий район, пос. Томилино, ул. Гаршина, д. 11 <br/>
            <a class="link link--location">Показать на карте</a>
          </td>
          <td class="table__cell">Республика Армения, Росийская Федерация</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>