<div class="container">
  <div class="substrate substrate--table">
    <div class="table__wrap table__wrap--focused">
      <table class="table table--col-3">
        <tr class="table__row">
          <td class="table__cell table__cell--headline">Вид особого условия регистрации </td>
          <td class="table__cell table__cell--headline">Описание особого условия регистрации </td>
          <td class="table__cell table__cell--headline table__cell--thin">Дата выполнения обязательства </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            Проведение пострегистрационных <br/>
            исследований безопасности
          </td>
          <td class="table__cell">
            Дополнительное исследование <br/>
            безопасности препарата
          </td>
          <td class="table__cell">
            01.12.2012
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            Проведение пострегистрационных <br/>
            исследований безопасности
          </td>
          <td class="table__cell">
            Дополнительное исследование <br/>
            безопасности препарата
          </td>
          <td class="table__cell">
            01.12.2012
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            Проведение пострегистрационных <br/>
            исследований безопасности
          </td>
          <td class="table__cell">
            Дополнительное исследование <br/>
            безопасности препарата
          </td>
          <td class="table__cell">
            01.12.2012
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
