<div ng-class="{'container--scroll': fixCol}" class="container">
  <div class="substrate substrate--table">
    <div class="filter filter--table">
      <form>
        <div class="l-side-left">
          <div class="filter-item ">
            <a class="link--inactive">To start</a>
          </div>
          <div class="filter-item ">
            <a class="i-arrow i-arrow--left-disabled"></a>
          </div>
          <div class="filter-item ">
            <input placeholder="1" class="input input--number"/>
          </div>
          <div class="filter-item ">
            из
          </div>
          <div class="filter-item ">
            <a class="link">4</a>
          </div>
          <div class="filter-item ">
            <a class="i-arrow i-arrow--blue-right"></a>
          </div>
        </div>
        <div class="l-side-right">
          <div class="filter-item g-block-small">
            <select class="select">
              <option>1</option>
              <option>2</option>
            </select>
          </div>
          <div class="filter-item g-block-small">
            <select class="select">
              <option>1</option>
              <option>2</option>
            </select>
          </div>
          <div class="filter-item g-block-small">
            <select class="select">
              <option>1</option>
              <option>2</option>
            </select>
          </div>
          <div class="filter-item">
            <span ng-click="activeButtonFixcol()" ng-class="{'active': fixCol}" class="btn btn--resize"></span>
          </div>
        </div>
      </form>
    </div>
    <div class="table__wrap table__wrap--fix">
      <table class="table table--rtable">
        <tbody>
        <tr class="table__row js-table-row-fixed">
          <td class="table__cell table__cell--headline table__cell--fixed table__cell--sort">Name</td>
          <td class="table__cell table__cell--headline table__cell--med">Other name</td>
          <td class="table__cell table__cell--headline">The others</td>
          <td class="table__cell table__cell--headline">Another one of others</td>
          <td class="table__cell table__cell--headline table__cell--med">Name of smth</td>
          <td class="table__cell table__cell--headline">Why how and when</td>
        </tr>
        <tr class="table__row js-table-row-fixed">
          <td class="table__cell table__cell--fixed">Wxaple</td>
          <td class="table__cell ">Wxaple</td>
          <td class="table__cell">Wxaple</td>
          <td class="table__cell">Example of smth else of description of smth</td>
          <td class="table__cell ">Some description<br/>
            <a class="link link--location">show</a>
          </td>
          <td class="table__cell">Example</td>
        </tr>
        <tr class="table__row js-table-row-fixed">
          <td class="table__cell table__cell--fixed">Wxaple</td>
          <td class="table__cell ">Wxaple</td>
          <td class="table__cell">Wxaple</td>
          <td class="table__cell">Example of smth else of description of smth</td>
          <td class="table__cell ">Some description<br/>
            <a class="link link--location">show</a>
          </td>
          <td class="table__cell">Example</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
