<div class="container">
  <div class="substrate substrate--table">
    <div class="table__wrap">
      <table class="table table--rtable">
        <tbody>
        <tr class="table__row">
          <td class="table__cell table__cell--headline">Some headline</td>
          <td class="table__cell table__cell--headline table__cell--med">Some headline</td>
          <td class="table__cell table__cell--headline">Some headline</td>
          <td class="table__cell table__cell--headline">Some headline</td>
          <td class="table__cell table__cell--headline table__cell--med">Some headline</td>
          <td class="table__cell table__cell--headline">Some headline</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">Example</td>
          <td class="table__cell ">Example</td>
          <td class="table__cell">Example</td>
          <td class="table__cell">Some long description of something else</td>
          <td class="table__cell ">Some long description of something else<br/>
            <a class="link link--location">show</a>
          </td>
          <td class="table__cell">Example</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">Example</td>
          <td class="table__cell ">Example</td>
          <td class="table__cell">Example</td>
          <td class="table__cell">Some long description of something else</td>
          <td class="table__cell ">Some long description of something else<br/>
            <a class="link link--location">show</a>
          </td>
          <td class="table__cell">Example</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>