<div class="container">
  <div class="substrate substrate--table">
    <div class="table__wrap table__wrap--striped">
      <table class="table">
        <tr class="table__row">
          <td class="table__cell table__cell--headline">Регистрационный
            номер документа</td>
          <td class="table__cell table__cell--headline">Страна</td>
          <td class="table__cell table__cell--headline">Вид документа</td>
          <td class="table__cell table__cell--headline">Срок действия</td>
          <td class="table__cell table__cell--headline">Заявитель</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
        </tr>
      </table>
    </div>
  </div>
</div>