<div class="container">
  <div class="substrate substrate--table">
    <div class="table__wrap">
      <table class="table">
        <tr class="table__row">
          <td class="table__cell table__cell--headline table__cell--sort">Регистрационный
            номер документа</td>
          <td class="table__cell table__cell--headline table__cell--sort">Страна</td>
          <td class="table__cell table__cell--headline table__cell--sort">Вид документа</td>
          <td class="table__cell table__cell--headline table__cell--sort">Срок действия</td>
          <td class="table__cell table__cell--headline table__cell--sort">Заявитель</td>
          <td class="table__cell table__cell--headline table__cell--sort">Статус действия</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
          <td class="table__cell"><span class="btn btn--status btn--status-gray">Нейтральный</span></td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
          <td class="table__cell"><span class="btn btn--status btn--status-green">Действует</span></td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
          <td class="table__cell"><span class="btn btn--status btn--status-orange">Средняя тревога</span></td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"><a class="link">ТС RU ДTYU-CH.АЛ33.В.00807</a></td>
          <td class="table__cell">Россия</td>
          <td class="table__cell">Декларация о соответствии</td>
          <td class="table__cell">16.01.2015 - 15.01.2017</td>
          <td class="table__cell">Автономная некоммерческая организация «СОЮЗЭКСПЕРТИЗА»</td>
          <td class="table__cell"><span class="btn btn--status btn--status-red">Утратил силу</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>