<!doctype html>
<html data-ng-app="incidentSituationApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Awesome верстка</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../images/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="../../images/select/select2.css">
  <link rel="stylesheet" href="../../main.css">
</head>
<body>

<div class="l-page-container">
  <div class="l-header">
    <div class="l-max-width">
      <div class="header__login">
        <ul>
          <li class="header__login-item">Иванов И.И.</li>
        </ul>
      </div>
      <div class="header__logo">
        <div class="header__logo-image"><img src="../../images/logo.png"/></div>
        <div class="header__logo-title">Информационный портал Евразийского экономического союза</div>
      </div>
    </div>
  </div>
  <div class="l-wrap">
    <div class="main-title">
      <div class="main-title__border"></div>
      <div class="l-max-width">
        <div class="main-title__h1">Информационные ресурсы / <span class="main-title__h1--small">Санитарные, фитосанитарные и ветеринарные меры</span></div>
      </div>
      <div class="main-title__border"></div>
      <div class="main-title__content l-max-width">

        <!--temp todo remove this menu-->

        <div class="horizontal-list">
          <ul>
            <li class="horizontal-list__item"><a class="link" href="op44.html">Поиск</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card.html">Карточка</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_data.html">Сведения</a></li>
            <li class="horizontal-list__item"><a class="link link--active" href="op44_card_cert.html">Удостоверение</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card2.html">Бланк</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_graph.html">Инфографика</a></li>
          </ul>
        </div>

        <!--temp-->
        <div class="main-title__menu">
          <a class="link link--back">К информационному ресурсу</a>
        </div>
        <div class="main-title__description">Реестр зарегистрированных лекарственных средств для животных, диагностических систем, средств для противопаразитарных обработок животных и&nbsp;кормовых добавок для животных</div>
      </div>
    </div>
    <div class="l-max-width">
      <div class="l-content">
        <div class="v-card__header">
          <div class="l-side-left">
            <div class="v-card__header-item">
              Просмотр на дату
            </div>
            <div class="v-card__header-item g-block-small g-margin-right">
              <input class="input input--date datepicker" type="text">
            </div>
            <div class="v-card__header-item">
              Дата публикации:
            </div>
            <div class="v-card__header-item v-card__header-date-value">
              9 ноября 2015
            </div>
          </div>

          <div class="l-side-right">
            <button class="btn btn--blue btn-share">Сохранить в .pdf</button>
          </div>
        </div>
        <div class="v-card substrate substrate--table">
          <div class="v-card__description">
            <h2>АВИВАК-Марек </h2>
            <ul class="bordered-list">
              <li class="bordered-list__item">
                <div class="bordered-list__item-title">Производитель</div>
                <div class="bordered-list__item-content">Общество с ограниченной ответственностью "НПП "АВИВАК"
                </div>
              </li>
              <li class="bordered-list__item">
                <div class="bordered-list__item-title">Юридический адрес производителя</div>
                <div class="bordered-list__item-content"><a class="link link--location">Россия, 188502, Ленинградская область, Ломоносовский р-н, д. Горбунки</a></div>
              </li>
              <li class="bordered-list__item">
                <div class="bordered-list__item-title">Территория  обращения</div>
                <div class="bordered-list__item-content">
                  <ul class="horizontal-list">
                    <li class="horizontal-list__item"><span class="i-country i-country--rus"></span> Россия</li>
                    <li class="horizontal-list__item"><span class="i-country i-country--armen"></span>Армения</li>
                    <li class="horizontal-list__item"><span class="i-country i-country--belrus"></span>Беларусь</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="v-card__tech">
            <div class="v-card__tech-code">
              ВЛС-ЕАЭС-015659-RU <span class="i-country i-country--rus l-side-right"></span>
            </div>
            <div class="v-card__tech-desc">Регистрационное удостоверение</div>
            <div class="v-card__tech-status">
              <span class="btn btn--status btn--status-green v-card__tech-status-item">Регистрация на условиях</span>
              <span class="btn btn--status btn--status-gray v-card__tech-status-item">Ветеринарное лекарственное <br/>средство</span>
            </div>
          </div>

          <div class="v-card__clear"></div>
        </div>
      </div>
      <div class="l-content">
        <div class="left-menu l-side-left">
          <div class="left_menu__block substrate">
            <div class="left-menu__list">
              <ul>
                <li class="left-menu__list-item">
                  <a class="left-menu__list-link active">Регистрационное <br/>удостоверение</a>
                </li>
                <li class="left-menu__list-item">
                  <a class="left-menu__list-link">Сведения о ветеринарном <br/>препарате</a>
                </li>
                <li class="left-menu__list-item">
                  <a class="left-menu__list-link">Фармацевтические<br/>субстанции</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="center-block--left-side">
          <div class="v-card__data-block substrate">
            <h2>Регистрационное удостоверение</h2>
            <div class="zebra-list">
              <ul>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Номер заявки на регистрацию ветеринарного препарата</div>
                  <div class="l-left zebra-list__content">874</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Номер регистрационного удостоверения</div>
                  <div class="l-left zebra-list__content">ВЛС-ЕАЭС-015659-RU</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Статус регистрационного удостоверения</div>
                  <div class="l-left zebra-list__content">Регистрация на условиях</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Дата регистрации </div>
                  <div class="l-left zebra-list__content">13.11.2012</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Дата истечения срока действия регистрации </div>
                  <div class="l-left zebra-list__content">13.11.2017</div>
                </li>
                <li class="zebra-list__item">
                  <div class="l-left zebra-list__title">Территория обращения</div>
                  <div class="l-left zebra-list__content">Россия, Армения, Беларусь</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="substrate substrate--table v-card__data-block">
            <h2 class="h2-padd">Особые условия регистрации</h2>
            <div class="table__wrap">
              <table class="table table--col-3">
                <tr class="table__row">
                  <td class="table__cell table__cell--headline">Вид особого условия регистрации </td>
                  <td class="table__cell table__cell--headline table__cell--wide">Описание особого условия регистрации </td>
                  <td class="table__cell table__cell--headline table__cell--thin">Дата выполнения обязательства </td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell">
                    Проведение пострегистрационных <br/>
                    исследований безопасности
                  </td>
                  <td class="table__cell table__cell--wide">
                    Дополнительное исследование <br/>
                    безопасности препарата
                  </td>
                  <td class="table__cell table__cell--thin">
                    01.12.2012
                  </td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="footer l-footer">
  <div class="l-max-width">
    <div class="footer__logo">
      <a>
        <img class="footer__logo-img" src="../../images/logo_f.png"/>
      </a>
    </div>
    <div class="footer__menu">
      <ul>
        <li class="footer__menu-item"><a class="footer__menu-link">Евразийский экономический Союз</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Евразийская экономическая комиссия</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Правовой портал</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="../../bundle.js"></script>

</body>
</html>
