<!doctype html>
<html data-ng-app="incidentSituationApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Awesome верстка</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../images/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="../../images/select/select2.css">
  <link rel="stylesheet" href="../../main.css">
</head>
<body>

<div class="l-page-container">
  <div class="l-header">
    <div class="l-max-width">
      <div class="header__login">
        <ul>
          <li class="header__login-item">Иванов И.И.</li>
        </ul>
      </div>
      <div class="header__logo">
        <div class="header__logo-image"><img src="../../images/logo.png"/></div>
        <div class="header__logo-title">Информационный портал Евразийского экономического союза</div>
      </div>
    </div>
  </div>
  <div class="l-wrap">
    <div class="main-title">
      <div class="main-title__border"></div>
      <div class="l-max-width">
        <div class="main-title__h1">Информационные ресурсы / <span class="main-title__h1--small">Санитарные, фитосанитарные и ветеринарные меры</span></div>
      </div>
      <div class="main-title__border"></div>
      <div class="main-title__content l-max-width">

        <!--temp todo remove this menu-->

        <div class="horizontal-list">
          <ul>
            <li class="horizontal-list__item"><a class="link" href="op44.html">Поиск</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card.html">Карточка</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_data.html">Сведения</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_cert.html">Удостоверение</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card2.html">Бланк</a></li>
            <li class="horizontal-list__item"><a class="link link--active" href="op44_card_graph.html">Инфографика</a></li>
          </ul>
        </div>

        <!--temp-->
        <div class="main-title__menu">
          <ul>
            <li class="main-title__menu-item active"><a class="main-title__menu-item-link">Сводня информация</a>
              <ul class="main-title__menu-item-list">
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_01">Информационный ресурс</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_02">Отчеты</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_03">Сводная информация</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_04">Карточка ресурса</span></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="main-title__description">Реестр зарегистрированных лекарственных средств для животных, диагностических систем, средств для противопаразитарных обработок животных и&nbsp;кормовых добавок для животных</div>
      </div>
    </div>
    <div class="l-max-width">
      <div class="v-card__graph l-content">
        <div class="left-menu l-side-left">
          <div class="left_menu__block substrate">
            <div class="left-menu__list">
              <ul>
                <li class="left-menu__list-item">
                  <a class="left-menu__list-link active">Регистрационное <br/>удостоверение</a>
                </li>
                <li class="left-menu__list-item">
                  <a class="left-menu__list-link">Сведения о ветеринарном <br/>препарате</a>
                </li>
                <li class="left-menu__list-item">
                  <a class="left-menu__list-link">Фармацевтические<br/>субстанции</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="center-block--left-side">
          <div class="v-card__data-block substrate">
            <h2>Количество ветеринарных препараторв, зарегистрированных за последние 4 квартала</h2>
            <div class="filter v-card__graph-filter">
              <div class="filter-item g-block-wide">
                <label class="label">Срок действия</label>
                <input class="input input--date g-block-small datepicker"  type="text" placeholder="с"/>
                <span class="search-group__item-date-dash">-</span>
                <input class="input input--date g-block-small datepicker" type="text"  placeholder="по"/>
              </div>
              <div class="filter-item g-block-mid">
                <label class="label">Страны</label>
                <select class="select">
                  <option>Все страны</option>
                  <option>Россия</option>
                  <option>Беларусь</option>
                </select>
              </div>
            </div>
            <div class="v-card__graph-scheme">
              <img src="/images/scheme-1.png"/>
            </div>
            <div class="v-card__graph-legend">
              <ul>
                <li class="v-card__graph-legend-item"><span class="v-card__graph-legend-icon i-legend i-legend--2"></span>Ветеринарные лекарственные препараты</li>
                <li class="v-card__graph-legend-item"><span class="v-card__graph-legend-icon i-legend i-legend--2"></span>Кормовые добавки</li>
                <li class="v-card__graph-legend-item"><span class="v-card__graph-legend-icon i-legend i-legend--3"></span>Дезинфицирующие, дезинсекционные и дератизационные средства</li>
                <li class="v-card__graph-legend-item"><span class="v-card__graph-legend-icon i-legend i-legend--4"></span>Диагностические средства</li>
              </ul>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="footer l-footer">
  <div class="l-max-width">
    <div class="footer__logo">
      <a>
        <img class="footer__logo-img" src="../../images/logo_f.png"/>
      </a>
    </div>
    <div class="footer__menu">
      <ul>
        <li class="footer__menu-item"><a class="footer__menu-link">Евразийский экономический Союз</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Евразийская экономическая комиссия</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Правовой портал</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="../../bundle.js"></script>

</body>
</html>
