<!doctype html>
<html data-ng-app="incidentSituationApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Awesome верстка</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../images/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="../../images/select/select2.css">
  <link rel="stylesheet" href="../../main.css">
</head>
<body>

<div class="l-page-container">
  <div class="l-header">
    <div class="l-max-width">
      <div class="header__login">
        <ul>
          <li class="header__login-item">Иванов И.И.</li>
        </ul>
      </div>
      <div class="header__logo">
        <div class="header__logo-image"><img src="../../images/logo.png"/></div>
        <div class="header__logo-title">Информационный портал Евразийского экономического союза</div>
      </div>
    </div>
  </div>
  <div class="l-wrap">
    <div class="main-title">
      <div class="main-title__border"></div>
      <div class="l-max-width">
        <div class="main-title__h1">Информационные ресурсы / <span class="main-title__h1--small">Санитарные, фитосанитарные и ветеринарные меры</span></div>
      </div>
      <div class="main-title__border"></div>
      <div class="main-title__content l-max-width">

        <!--temp todo remove this menu-->

        <div class="horizontal-list">
          <ul>
            <li class="horizontal-list__item"><a class="link" href="op44.html">Поиск</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card.html">Карточка</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_data.html">Сведения</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_cert.html">Удостоверение</a></li>
            <li class="horizontal-list__item"><a class="link link--active" href="op44_card2.html">Бланк</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_graph.html">Инфографика</a></li>
          </ul>
        </div>

        <!--temp-->
        <div class="main-title__menu">
          <ul>
            <li class="main-title__menu-item active"><a class="main-title__menu-item-link">Карточка</a>
              <ul class="main-title__menu-item-list">
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_01">Информационный ресурс</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_02">Отчеты</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_03">Сводная информация</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_04">Карточка ресурса</span></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="main-title__description">Реестр зарегистрированных лекарственных средств для животных, диагностических систем, средств для противопаразитарных обработок животных и&nbsp;кормовых добавок для животных</div>
      </div>
    </div>
    <div class="l-max-width">
      <div class="v-card v-card__blank l-content">
        <div class="substrate substrate--no-border">
          <div class="v-card__blank-header l-content">
            <div class="l-side-right">
              <span class="btn btn--blue btn-edit v-card__blank-header-item">Редактировать</span>
              <span class="btn btn--blue btn-share v-card__blank-header-item">Сохранить в .pdf</span>
            </div>
          </div>
          <div class="zebra-list">
            <ul>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Сфера деятельности</div>
                <div class="l-left zebra-list__content"><a class="link">Техническое регулирование</a></div>
              </li>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Группа информационных ресурсов</div>
                <div class="l-left zebra-list__content">Информационное обеспечение в сфере технического регулирования</div>
              </li>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Код WMI</div>
                <div class="l-left zebra-list__content">Реестры и регистры</div>
              </li>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Дата создания</div>
                <div class="l-left zebra-list__content">Состоит из национальных частей, формирование и ведение которых обеспечивают
                  уполномоченные органы государств – членов Евразийского экономического союза</div>
              </li>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Дата последнего обновления</div>
                <div class="l-left zebra-list__content">02.10.2015 2:00</div>
              </li>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Документ-основание</div>
                <div class="l-left zebra-list__content">14.04.2016 17:29
                </div>
              </li>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Вес в списке популярных справочников</div>
                <div class="l-left zebra-list__content">Решение Коллегии Евразийской экономической комиссии от 18 августа 2015 г. №99</div>
              </li>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Вес в списке изменяемых справочников</div>
                <div class="l-left zebra-list__content">Вес в списке популярных справочников</div>
              </li>
              <li class="zebra-list__item">
                <div class="l-left zebra-list__title">Статус публикации</div>
                <div class="l-left zebra-list__content">Статус публикации</div>
              </li>
            </ul>
          </div>
          </div>
      </div>



    </div>
  </div>
</div>

<div class="footer l-footer">
  <div class="l-max-width">
    <div class="footer__logo">
      <a>
        <img class="footer__logo-img" src="../../images/logo_f.png"/>
      </a>
    </div>
    <div class="footer__menu">
      <ul>
        <li class="footer__menu-item"><a class="footer__menu-link">Евразийский экономический Союз</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Евразийская экономическая комиссия</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Правовой портал</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="../../bundle.js"></script>

</body>
</html>
