<!doctype html>
<html data-ng-app="incidentSituationApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Awesome верстка</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../images/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="../../images/select/select2.css">
  <link rel="stylesheet" href="../../main.css">
</head>
<body>

<div class="l-page-container">
  <div class="l-header">
    <div class="l-max-width">
      <div class="header__login">
        <ul>
          <li class="header__login-item">Иванов И.И.</li>
        </ul>
      </div>
      <div class="header__logo">
        <div class="header__logo-image"><img src="../../images/logo.png"/></div>
        <div class="header__logo-title">Информационный портал Евразийского экономического союза</div>
      </div>
    </div>
  </div>
  <div class="l-wrap">
    <div class="main-title">
      <div class="main-title__border"></div>
      <div class="l-max-width">
        <div class="main-title__h1">Информационные ресурсы / <span class="main-title__h1--small">Санитарные, фитосанитарные и ветеринарные меры</span></div>
      </div>
      <div class="main-title__border"></div>
      <div class="main-title__content l-max-width">

        <!--temp todo remove this menu-->

        <div class="horizontal-list">
          <ul>
            <li class="horizontal-list__item"><a class="link link--active" href="op44.html">Поиск</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card.html">Карточка</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_data.html">Сведения</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_cert.html">Удостоверение</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card2.html">Бланк</a></li>
            <li class="horizontal-list__item"><a class="link" href="op44_card_graph.html">Инфографика</a></li>
          </ul>
        </div>

        <!--temp-->

        <div class="main-title__menu">
          <ul>
            <li class="main-title__menu-item active"><a class="main-title__menu-item-link">Информационный ресурс</a>
              <ul class="main-title__menu-item-list">
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_01">Информационный ресурс</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_02">Отчеты</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_03">Сводная информация</span></li>
                <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_04">Карточка ресурса</span></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="main-title__description">Реестр зарегистрированных лекарственных средств для животных, диагностических систем, средств для противопаразитарных обработок животных и&nbsp;кормовых добавок для животных</div>
      </div>
    </div>
    <div class="l-content">
      <div class="search-wrap">
        <div class="l-max-width"><form>
          <div class="substrate substrate--shadow">
            <div class="search-group">
              <div class="search-group__title search-group__title--search-form g-block-small">Ключевые слова</div>
              <div class="search-group__content ">
                <div class="search-group__item search-group__item--search-form">
                  <form>
                    <input class="input input--search-form" placeholder="Например: регистрационный номер документа, наименование заявителя" type="search"/>
                    <input class="input-submit" type="submit" value=""/>
                  </form>
                </div>
              </div>
            </div>
            <div class="search-group">
              <div class="search-group__title g-block-small">Ветеринарный <br/>препарат</div>
              <div class="search-group__content">
                <div class="search-group__item g-block-mid">
                  <label class="label">Торговое наименование</label>
                  <input class="input input-text" type="text"/>
                </div>
                <div class="search-group__item g-block-wide">
                  <label class="label">Международное непатентное наименование</label>
                  <input class="input input-text" type="text"/>
                </div>
                <div class="search-group__item g-block-mid">
                  <label class="label">Лекарственная форма</label>
                  <select class="select">
                    <option>Все</option>
                    <option>Таблетки</option>
                    <option>Капсулы</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="search-group">
              <div class="search-group__title search-group__title--no-label g-block-small">Вид ветерираного <br/>препатара</div>
              <div class="search-group__content">
                <div class="search-group__item search-group__item--checkbox g-block-mid">
                  <input class="checkbox-trigger" type="checkbox" id="sg_01"/>
                  <label for="sg_01" class="label label--checkbox">Ветеринарные лекарственные средства</label>
                </div>
                <div class="search-group__item search-group__item--checkbox g-block-mid">
                  <input class="checkbox-trigger" type="checkbox" id="sg_02"/>
                  <label for="sg_02" class="label label--checkbox">Диагностические средства </label>
                </div>
                <div class="search-group__item search-group__item--checkbox g-block-mid">
                  <input class="checkbox-trigger" type="checkbox" id="sg_03"/>
                  <label for="sg_03" class="label label--checkbox">Кормовые добавки</label>
                </div>
                <div class="search-group__item search-group__item--checkbox g-block-mid">
                  <input class="checkbox-trigger" type="checkbox" id="sg_04"/>
                  <label for="sg_04" class="label label--checkbox">Дезинфицирующие средства</label>
                </div>
                <div class="search-group__item search-group__item--checkbox g-block-mid">
                  <input class="checkbox-trigger" type="checkbox" id="sg_05"/>
                  <label for="sg_05" class="label label--checkbox">Дезинсекционные средства</label>
                </div>
                <div class="search-group__item search-group__item--checkbox g-block-mid">
                  <input class="checkbox-trigger" type="checkbox" id="sg_06"/>
                  <label for="sg_06" class="label label--checkbox">Дератизационные средства</label>
                </div>
              </div>
            </div>
            <div class="search-group search-group--noborder">
              <div class="search-group__title g-block-small">Сведения <br/>о регистрации</div>
              <div class="search-group__content">
                <div class="search-group__item g-block-mid">
                  <label class="label">Номер</label>
                  <input class="input input-text" type="text"/>
                </div>
                <div class="search-group__item g-block-small">
                  <label class="label">Статус</label>
                  <select class="select">
                    <option>Все</option>
                    <option>Действителен</option>
                    <option>Аннулирован</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="search-group">
              <div class="search-group__title g-block-small"></div>
              <div class="search-group__content">
                <div class="search-group__item g-block-wide">
                  <label class="label">Срок действия</label>
                  <input class="input input--date g-block-small datepicker"  type="text" placeholder="с"/>
                  <span class="search-group__item-date-dash">-</span>
                  <input class="input input--date g-block-small datepicker" type="text"  placeholder="по"/>
                </div>
                <div class="search-group__item g-block-wide">
                  <label class="label">Дата регистрации</label>
                  <input class="input input--date g-block-small datepicker" type="text"  placeholder="с"/>
                  <span class="search-group__item-date-dash">-</span>
                  <input class="input input--date g-block-small datepicker" type="text"  placeholder="по"/>
                </div>
              </div>
            </div>
            <div class="search-group search-group--noborder">
              <div class="search-group__title g-block-small">Производитель</div>
              <div class="search-group__content">
                <div class="search-group__item g-block-mid">
                  <label class="label">Наименование</label>
                  <input class="input input-text" type="text"/>
                </div>
                <div class="search-group__item g-block-mid">
                  <label class="label">Страна</label>
                  <select class="select">
                    <option>Все</option>
                    <option>Действителен</option>
                    <option>Аннулирован</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="search-group search-group--noborder">
              <div class="search-group__title g-block-small">Разработчик</div>
              <div class="search-group__content">
                <div class="search-group__item g-block-mid">
                  <label class="label">Наименование</label>
                  <input class="input input-text" type="text"/>
                </div>
                <div class="search-group__item g-block-mid">
                  <label class="label">Страна</label>
                  <select class="select">
                    <option>Все</option>
                    <option>Действителен</option>
                    <option>Аннулирован</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="search-group search-group--noborder">
              <div class="search-group__title g-block-small">Правообладатель</div>
              <div class="search-group__content">
                <div class="search-group__item g-block-mid">
                  <label class="label">Наименование</label>
                  <input class="input input-text" type="text"/>
                </div>
                <div class="search-group__item g-block-mid">
                  <label class="label">Страна</label>
                  <select class="select">
                    <option>Все</option>
                    <option>Действителен</option>
                    <option>Аннулирован</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="search-group search-group--noborder search-group--last">
              <div class="search-group__title g-block-small">Территория обращения</div>
              <div class="search-group__content">
                <div class="search-group__item g-block-mid">
                  <label class="label">Статус</label>
                  <select class="select">
                    <option>Все</option>
                    <option>Действителен</option>
                    <option>Аннулирован</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="search-wrap__buttons">
            <span class="search-wrap__button--hide">Скрыть детали</span>
            <span class="search-wrap__button--reset">Сбросить</span>
          </div>
        </form>
        </div>
      </div>
      <div class="l-max-width">
        <div class="search-output substrate substrate--table">
          <div class="filter filter--table">
            <form>
              <div class="l-side-left">
                <div class="filter-item">
                  <a class="link--inactive">К началу</a>
                </div>
                <div class="filter-item">
                  <a class="arrow arrow-left"></a>
                </div>
                <div class="filter-item">
                  <input placeholder="1" class="input input--number"/>
                </div>
                <div class="filter-item">
                  из
                </div>
                <div class="filter-item">
                  <a class="link">4</a>
                </div>
                <div class="filter-item">
                  <a class="arrow arrow-right active"></a>
                </div>
              </div>
              <div class="l-side-right">
                <div class="search-output__filter-item">
                  15 записей
                </div>
                <div class="filter-item g-block-small">
                  <select class="select">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
                <div class="filter-item g-block-small">
                  <select class="select">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
                <div class="filter-item g-block-small">
                  <select class="select">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="table__wrap table__wrap--fix">
            <table class="table table--rtable">
              <tbody>
              <tr class="table__row">
                <td class="table__cell table__cell--headline table__cell--fixed">Торговое наименование</td>
                <td class="table__cell table__cell--headline table__cell--med">Международное непатентованное наименование</td>
                <td class="table__cell table__cell--headline">Вид ветеринарного препарата</td>
                <td class="table__cell table__cell--headline">Лекарственная форма</td>
                <td class="table__cell table__cell--headline table__cell--med">Производитель</td>
                <td class="table__cell table__cell--headline">Территория обращения</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell table__cell--fixed">Инспектор Тотал С</td>
                <td class="table__cell ">Фипронил</td>
                <td class="table__cell">ветеринарное лекарственное средство</td>
                <td class="table__cell">Порошок для приготовления раствора для приема внутрь (750 мг + 30 мг)</td>
                <td class="table__cell ">ЗАО "НПФ "Экопром", 140070, Московская область, Люберецкий район, пос. Томилино, ул. Гаршина, д. 11 <br/>
                <a class="link link--location">Показать на карте</a>
                </td>
                <td class="table__cell">Республика Армения, Росийская Федерация</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell table__cell--fixed">Инспектор Тотал С</td>
                <td class="table__cell ">Фипронил</td>
                <td class="table__cell">ветеринарное лекарственное средство</td>
                <td class="table__cell">Порошок для приготовления раствора для приема внутрь (750 мг + 30 мг)</td>
                <td class="table__cell ">ЗАО "НПФ "Экопром", 140070, Московская область, Люберецкий район, пос. Томилино, ул. Гаршина, д. 11 <br/>
                  <a class="link link--location">Показать на карте</a>
                </td>
                <td class="table__cell">Республика Армения, Росийская Федерация</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer l-footer">
  <div class="l-max-width">
    <div class="footer__logo">
      <a>
        <img class="footer__logo-img" src="../../images/logo_f.png"/>
      </a>
    </div>
    <div class="footer__menu">
      <ul>
        <li class="footer__menu-item"><a class="footer__menu-link">Евразийский экономический Союз</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Евразийская экономическая комиссия</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link">Правовой портал</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="../../bundle.js"></script>

</body>
</html>
