<div class="main-title">
  <div class="main-title__border"></div>
  <div class="l-max-width">
    <div class="main-title__h1">
      ТЕХНИЧЕСКОЕ  РЕГУЛИРОВАНИЕ / <span class="main-title__h1--small">ИНФОРМАЦИОННЫЕ РЕСУРСЫ</span>
      <a class="example__process-link" href="Views/op44/op44.html">Пример 44 процесса</a>
    </div>
  </div>
  <div class="main-title__border"></div>
  <div class="main-title__content l-max-width">
    <div class="main-title__menu">
      <ul>
        <li class="main-title__menu-item active"><a class="main-title__menu-item-link">Информационный ресурс</a>
          <ul class="main-title__menu-item-list">
            <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_01">Информационный ресурс</span></li>
            <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_02">Отчеты</span></li>
            <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_03">Сводная информация</span></li>
            <li class="main-title__menu-item-list-el"><span class="main-title__menu-item-list-link mtml_04">Карточка ресурса</span></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="main-title__description">Единый реестр выданных сертификатов соответствия и зарегистрированных деклараций о соответствии</div>
  </div>
</div>