.t-block {
  $li-padding: 10px 15px;

  &__list {
    $root: &;
    &-item {
      background-color: $hit-gray-30;
      border-radius: 3px;
      margin-bottom: 10px;

      &--active {
        @extend #{$root}-item;
        background-color: #708ca2;
        border: 1px solid #708ca2;
        padding: $li-padding;
        color: $white;
      }
    }

    &-item:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: inherit;
    padding: $li-padding;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
}

// Табы

.tabs {
  $tabs-root: &;

  &__wrap {
    @include cf();

  }
  &__item {
    float: left;
    width: 16%;
    position: relative;
    margin: 0 0.3%;

    &.active {

      #{$tabs-root}__item-link {
        background-color: #708ca2;
        border-color: #708ca2;
        box-shadow: none;
        color: $white;
      }

      &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 12px 10px;
        border-color: transparent transparent $hit-gray;
        position: absolute;
        bottom: -16px;
        left: 50%;
        margin-left: -6px;
        z-index: 7;
      }
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 12px 10px;
        border-color: transparent transparent $white;
        position: absolute;
        bottom: -17px;
        left: 50%;
        margin-left: -6px;
        z-index: 9;
      }
    }
  }
  &__item-link {
    display: block;
    height: 74px;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px 15px;
    font-family: $headline-font;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(38, 38, 38, 0.15);
    color: inherit;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      background-color: $patterns-blue;
    }
  }
}

